*{
    margin: 0px;
    padding: 0px;
    border: none;
}

*:focus{
    border: none;
}

.no-margin{
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.no-padding{
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}


.main{
    background: white;
    max-width: 360px;
    height: 360px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    margin: 40px auto;

}

.files{
    background: white;
    max-width: 960px;
    min-height: 420px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    margin: 40px auto;
}


.text-input{
    padding: 5px;
    background: rgba(18, 60, 136, 0.1);
    width: 330px;
    border-radius: 2px;
    height: 40px;
    border: 1px solid #eee;
}

.info-textarea{
    padding: 5px;
    background: rgba(18, 60, 136, 0.1);
    width: 100%;
    border-radius: 2px;
    height: 80px;
    border: 1px solid #eee;
    resize: none;
}

.text-input:focus, .info-textarea:focus{
    border: 1px solid #eee !important ;
}

select{
    height: 32px;
    border-radius: 2px;
}


.preview {
    width: 180px;
    height: 180px;
    overflow: hidden;
}

.preview img{
    position: relative;
    left: 0px;
    height: 180px;
    width: auto;

}

.preview > input{
    position: relative;
    top: -205px;
    display: block;
    height: 205px;
    width: 180px;
    opacity: 0;
}

button{
    margin: 20px 0px 0px;
    width: 100%;
    height: 36px;
    background: none;
    border: 2px solid #666;
    border-radius: 2px;
    color: #666;

}

button:hover{
    background: #123c88;
    border: 2px solid #123c88;
    color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
