
body{
    background: white !important;
}

hr {
    margin: 5px 0px;
}

.no-margin{
    margin-left: 0px;
    margin-right: 0px;
}

.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}

h1, h2, h3, h4, h5, h6{
    margin-top: 1vw;
    margin-bottom: 0.5vw;
}

.main{
    max-width: 640px;
    margin: 5px auto;
}

.block{
    padding: 1vw;
    background: #f8f8f8;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.view-btn{
    color: white;
    border: 2px solid #123c88;
    background: #123c88;
    padding: 3px 10px;
    border-radius: 4px;
}