*{
    margin: 0px;
    padding: 0px;
}

body{
	background: #f8f8f8;
}

a:hover{
	text-decoration: none;
}

a:focus{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0.75vw;
	margin-bottom: 0.75vw;
}

.no-margin{
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.no-padding{
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}


hr{
	margin-top: 5px;
	margin-bottom: 5px;
}


@font-face {
    font-family: 'dub';
    src: url('../Fonts/dub.woff');
    font-weight: normal;
    font-style: normal;
    font-size: 200%;
}


@font-face {
    font-family: 'gsl';
    src: url('../Fonts/gsl.woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'nill';
    src: url('../Fonts/nill.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raj';
    src: url('../Fonts/raj.woff');
    font-weight: normal;
    font-style: normal;
}


.back-to-list{
    height: 30px;
    background: #123c88;
}

.back-to-list a{
    color: white;
}

.back-to-list h5{
    margin-top: 7px;
}


.header{
    height: 340px;
}


.cover{
    padding: 10px 5%;
    width: 100%;
    height: 100%;
    background: rgba( 0, 0, 0, 0.5);
}


.header-info{
    padding: 50px 0vw 0px 6vw;
}

.profilepic{
    height: 16vw;
    width: 16vw;
    border: 1vw solid #eee;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.hire{
    position: absolute;
    top: 0px;
    right: 0px;
}

.hire-btn{
    padding: 5px 10px;
    background: #eee;
    color: #123c88;
    border-radius: 4px;
    font-weight: bold;
}

.hire-btn:hover{
    background: #123c88;
    color: white;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.edit-hover{
    height: 100%;
    width: 100%;

}

.edit-modal{
    max-width: 480px;
}

.about-hover{
    width: 94%;
    height: 36px;
    position: absolute;
    top: 5px;
}



.edit-icon{
    position: absolute;
    bottom: 2px;
    right: 2px;
    display: initial;

}

.modal-dialog{
    top: 60px !important;
}

@media screen and (max-width: 767px){
    .about-hover{
        width: 90%;
    }

    .edit-icon{
        display: initial;
    }
}



.about-hover:hover .edit-icon{
    display: initial;
}


.edit-hover:hover .edit-icon{
    display: initial;
}

.modal-dialog{
    top: 90px;
    margin: 0px auto;
}

.modal-body select{
    width: 180px;
    height: 24px;
    border: 1px solid #123c88;
}

.close{
    width: 20px;
    height: 20px;
}

.header-details{
    padding: 1vw 0px 0px 5vw;
    color: white;
}

.header-details p{
    font-family: 'dub';
    font-size: 48px;
    line-height: 0.75;
    margin-bottom: initial;
}

.header-details .row{
    margin: 5px 0px;
}


.update-btn {
    width: 160px;
    background: none;
    border: #888 2px solid;
    border-radius: 4px;
    padding: 2px 24px;
    margin: 20px;
    color: #888;
    top: -120px;

}

.edit{
    transform: translateY(-110px);
    height: 0px;
}

.update-btn:hover {
	background: #123c88;
    border: #123c88 2px solid;
    color: #fff;
}

.tabs{
    background: #ddd;
    height: 48px;
}




.tab-links{
    border-bottom: none;
    list-style: none;
}

.tab-links > li{
    display: inline-block;
}

.tab-links > li{
}

.tab-links > li > a{
    color: #123c88;
    display: block;
    height: 48px;
    padding: 12px 20px;

}


.tab-links .active{
    font-weight: bold;
    text-decoration: none;
    background: #f8f8f8;
}

.profile-details{
    margin-top: 20px;
    padding: 5px 4%;
    background: #f8f8f8;
}
.profile-details > div {
    max-width: 768px;
    min-height: 240px;
    text-align: left;
}


.block{
    max-width: 768px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    margin: 0px auto 10px;
    background: white;
    padding: 20px 25px;
}



.text-input{
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #123c88;
    border-radius: 4px;
    margin: 5px 0px;

}

.textarea-input{
    background: rgba(18, 60, 136, 0.1);
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #123c88;
    border-radius: 4px;
    margin: 5px 0px;
    resize: none;

}

.attach{
    margin: 5px 0px;
}

.post-blog{
    margin: 5px 0px;
    background: #123c88;
    color: white;
    border: none;
    width: 120px;
    height: 30px;
    border-radius: 4px;
}

.thumb > div{
    height: 150px;
}

.content-preview{
    height: 80px;
    overflow: hidden;
}

@media screen and (max-width: 767px){
    .header-info {
        padding: 20px 0vw 0px 0px;
    }

    .header-details {
        padding: 0px 0px 0px 2vw;
        color: white;
    }

    .tab-links > li > a {
        padding: 12px 5px;
    }

    .thumb > div{
        height: 20vw;
    }
}