.no-margin{
    margin: 0px;
}

.gbcolor{
    color: #123c88;
}

.hrcolor{
    border-top: 1px solid rgba(18, 60, 136, 0.3);
}

.win{
    max-width: 960px;
}

.item-img{
    float: left;
    width: 160px;
    padding: 0px 15px;
}

.item-details{
    width: calc(100% - 160px);
    padding: 0px;
}
h5, h6{
    margin-top: 5px;
    margin-bottom: 5px;
}


.sbmt-btn{
    border-radius: 2px;
    font-weight: bold;
    float: right;
    margin-right: 15px;
}

.cntn-btn{
    background: #888;
    border-radius: 2px;
    font-weight: bold;
    float: right;
    margin-right: 15px;
}

@media screen and (max-width: 767px){
    .price{
        margin-top: 5px;
    }

}