.home-nav{
    margin: 0px;
    height: 32px;
    color: white;
    font-size: 16px;
    background: #123c88;
}

.quicklinks > li {
    margin: 5px 30px;
}

#plydrop{
    display: none;
}


#ply:hover > #plydrop{
    display: block;
}

#plydrop:hover{
    display: block;
}

.drop{
    width: 200px;
    position: absolute;
    top: 28px;
    z-index: 150;
    background: #eee;
    color: #123c88;
    border-radius: 4px;
}

.drop ul {
    list-style-type: none;
    padding: 1px;
}

.drop ul li{
    margin: 5px 15px 10px;
}

.glyphicon-play{
    font-size: 10px;
}

.subbrand{
    background: white;
}
