.searchwin{
    background: #123c88;
    min-height: 40px;
    margin: 0px;
    padding: 1px;
}


hr{
    margin-top: 2px;
    margin-bottom: 5px;
}

.list-hr{
    margin: 0px;
    border-top: 2px solid #b7c8e6;

}

.mybtn{
    font-size: 13px;
    line-height: 0.5;
    padding: 2px 8px;
    color: white;
    height: 24px;
    border-radius: 4px;
    background: #123c88;
}

.apply{
    position: absolute;
    top: 7px;
    right: 15px;
}



.product{
    padding: 15px;
    color: #444;
}

.product > div{
    border-radius: 6px;
    background: url(../img/plywood_texture.jpg);
    padding: 1px 15px;
}

.product > div > div{
    right: 0%;
}


.qty{
    width: 60px;
    font-size: 16px;
    line-height: 0.5;
    padding: 2px 8px;
    color: #666;
    height: 30px;
    border-radius: 4px;
}


.add{
    font-size: 15px;
    font-weight: bold;
    padding: 2px 15px;
    height: 30px;
}

.gap{
    height: 20px;
}

.nomargin{
    margin: 0px;
}

.addbtn{
    padding: 7px 0px;
}

.addlam{
    color: white;
    font-size: 14px;
    padding: 5px;
    background: none;

}

.addlam:hover{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

ul.nav-list {
    list-style-type: none;
    background: #a7bbe0;
    border-radius: 4px;
}

ul.subbrand {
    list-style-type: none;
    border-radius: 2px;

}

ul.nav-list > li{
    padding: 10px 15px;
    line-height: 1.2;
}

ul.subbrand > li{
    padding: 5px 20px;
    background: #b7c8e6;

}