.whiteback{
    margin: 10px 5px 0px;
}

.keyword{
    margin-top: 15px;
}

hr{
    margin-top: 2px;
    margin-bottom: 5px;
}

.mybtn{
    font-size: 13px;
    line-height: 0.5;
    padding: 2px 8px;
    color: white;
    height: 24px;
    border-radius: 4px;
    background: #123c88;
}

.apply{
    position: absolute;
    top: 7px;
    right: 15px;
}

