html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    background: #f8f8f8;
}

*{
    margin: 0px;
    padding: 0px;
    border: none;
}

*:focus{
    outline: none;
}

.navbar {
    overflow: visible;
    padding: 0% 7%;
    min-width: 320px;
}

.navbar-default {
	background-image: none;
	border-radius: 0px;
	background-color: #eee;
	position: fixed;
	width: 100%;
	z-index: 700;
	height: 70px;
	-webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.5);
}

.nav-wrap > div{
    display: inline-block;
}

.navbar-header {
    height: 70px;
    width: 256px;
}

.navbar-brand {
    height: 70px;
    padding: 12px 10px;
}

.navbar-brand > img {
    height: 48px;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
    margin-left: 0px !important;
    margin-right: 0px !important;
}


#search{
    margin-top: 18px;
    position: absolute;
    left: 28vw;
}

#search select{
    background: #ddd;
    height: 32px;
    width: 100px;
    padding: 6px;
}

#search option{
    background: white;
}

#search form{
    border: 2px solid #123c88;
    border-radius: 4px;
}

#search input{
    height: 32px;
    width: 28vw;
    padding: 6px;
}

.btn{
    padding: 5px 10px;
    color: white;
    display: inline-block;
    height: 32px;
    text-align: center;
    vertical-align: initial;
    border: none;
    border-radius: 0px;
    background: #123c88;
}

.btn:hover{
    color: #ddd;
    background: hsl(219, 77%, 35%);
}

#search .btn{
    color: #123c88;
    background: #ccc;
}


.nav-btns{
    float: right;
    margin-top: 18px;

}

.nav-btns li {
    margin: 0px 2px;
    border-radius: 4px;
    padding: 7px 1vw;
    height: 36px;
}

.glyphicon-search{
    font-size: 12px;
}

.h-list > li{
    display: inline-block;
}

.whiteback{
    background: white;
}

.page{
    width: 100%;
    min-width: 360px;
    position: absolute;
    top: 90px;
    bottom: 0;
    padding: 0px;
    margin: 0px;
    overflow: auto;
}

@media screen and (max-width: 1023px){
    .navbar {
        padding: 0% 3%;
    }

    .nav-btns li {
        margin: 0px;
    }

}


@media screen and (max-width: 959px){
    .navbar{
        padding: 0px;
    }

    #search{
        left: 220px;
    }

    #search select{
        width: 96px;
    }

    #search input{
        width: calc(100vw - 580px);
    }
}


@media screen and (min-width: 768px){
    .navbar-brand {
        margin: 0px !important;
    }

}

@media  screen and (max-width: 767px){
    .navbar > .container-fluid{
        padding: 0px;
    }

    .navbar-header{
        width: 72px;
        float: left;
    }

    .navbar-brand {
        padding: 12px 2px;
    }

    .navbar-brand{
        width: 54px;
        overflow: hidden;
    }

    #search input{
        width: calc(100vw - 255px);
    }

    .navbar {
        padding: 0%  0px;
    }

    #search select{
        width: 64px;
    }

    #search{
        left: 54px;
    }

    .btn{
        padding: 0px 12px;
    }

    .glyphicon-search{
        font-size: 17px;
    }

    .hide-text{
        display: none;

    }

    .nav-btns li {
        margin: 0px 0px;
        padding: 7px 10px;
    }
}

@media  screen and (max-width: 479px){
    #search{
        left: 54px;
    }

    #search input{
        width: calc(100vw - 255px);
    }

    #search select{
        width: 64px;
    }
}