<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Merchants</title>
</head>
<body>
<h1>
    Merchants
</h1>
<div>
    <form method="get" action="{% url 'merchant_add' %}">
        <input name="searchfield" type="text" required placeholder="Enter name or address or city" width="150 px">
        <button type="submit">Search</button>
    </form>
</div>
<div style="border:1 px;border-color:#aaaaaa">
    <h2>
        Add Merchant
    </h2>
    <form method="post" action="{% url 'merchant_add' %}" >
        {% csrf_token %}
        <input type="text" name="name" placeholder="name" required>
        <br><input type="text" name="phone" placeholder="phone" required>
        <br><input type="text" name="city" placeholder="city" >
        <br><input type="text" name="address" placeholder="address">
        <br> <button type="submit">Add Merchant</button>

    </form>

    <div>

        <br>
        {% for m in merchants %}
    <div style="border:1 px;border-color:#aaaaaa">
        <br>
            {{m}}
        <br>
        Add showrooms
        <br>
        <form method="post" action="{% url 'showroom_add' %}">
            {% csrf_token %}
            Address:
            <textarea name="address" required>

            </textarea>
            <br>phone
            <input type="text" pattern="[1-9][0-9]{9}" name="phone" >
            <button type="submit" name="merchantID" value="{{m.merchantID}}">Add showroom</button>

        </form>
        <br>
        Add Godowns
        <form method="post" action="{% url 'godown_add' %}">
            {% csrf_token %}
            Address
            <textarea name="address" required>

            </textarea>
            <br>Phone
            <input type="text" pattern="[1-9][0-9]{9}" name="phone" >
            <button type="submit" name="merchantID" value="{{m.merchantID}}">Add godown</button>

        </form>
        <br>
        <form method="get" action="{% url 'view_merchant' %}">

            <button type="submit" name="merchantID" value="{{m.merchantID}}">View show rooms and godown</button>
        </form>
            </div>
        {% endfor %}
    </div>
</div>

</body>
</html>