<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{merchant.name}}</title>
</head>
<body>
<h1>{{merchant}}</h1>
<br>
<div>
    <center><h4><u>Showrooms</u></h4></center>
    {% for x in showrooms %}
        <br>
        {{x.address}}
        <br>
        {{x.phone}}
    {% endfor %}

</div>

<div>
    <center><h4><u>Godowns</u></h4></center>
    {% for x in godowns %}
        <br>
        {{x.address}}
        <br>
        {{x.phone}}
    {% endfor %}
    <h4>Products</h4>
    {% for x in products %}
        <br>
        {{x.0}}
        <br>
        {{x.1}}
    {% endfor %}
</div>

</body>
</html>