<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration - GharBanao</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'customers/css/bootstrap.min.css' %}">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static 'customers/css/bootstrap-theme.min.css' %}">
    <!--<link rel="stylesheet" href="css/profile.css" >-->
    <link rel="stylesheet" href="{% static 'designers/css/designerinfo.css' %}">
    <link rel="stylesheet" href="{% static 'customers/css/template.css' %}">



</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'designers:index' %}" ><img src="{% static 'customers/img/GharBanaoLogo_nav.png' %}"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div style="position: absolute; right: 7vw;top: 25px;">


            <a href="{% url 'designers:logout' %}" class="btn my_project" >Logout<span class="sr-only">(current)</span></a></li>


        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="container page" id="page">
    <center>
        <div class="row no-margin container-fluid main" style="max-width: 540px; height: 440px">
        <div class="row" style="background: #123c88; border-radius: 6px 6px 0px 0px"><h3 class="col-xs-12" style="color: white">Write a brief paragraph to introduce you and your designs</h3></div><br>


        <form method="post" action="{% url 'designers:next' status %}" >
            {% csrf_token %}
            <div class="row no-margin" align="left" >
                <h4>About You:</h4>
                <textarea class="info-textarea" type="text" name="AboutMe"></textarea>
                <h4>About Your Designs:</h4>
                <textarea class="info-textarea" type="text" name="AboutYourDesigns"></textarea>
            <center><button type="submit">Next</button></center>
            </div>
        </form>

        </div>

    </center>
</div>


</body>
</html>