<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration - GharBanao</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'customers/css/bootstrap.min.css' %}">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static 'customers/css/bootstrap-theme.min.css' %}">
    <!--<link rel="stylesheet" href="css/profile.css" >-->
    <link rel="stylesheet" href="{% static 'designers/css/designerinfo.css' %}">
    <link rel="stylesheet" href="{% static 'customers/css/template.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>


</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'designers:index' %}" ><img src="{% static 'customers/img/GharBanaoLogo_nav.png' %}"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div style="position: absolute; right: 7vw;top: 25px;">


            <a href="{% url 'designers:login' %}" class="btn my_project" > Login <span class="sr-only">(current)</span></a></li>


        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container page" id="page">
    <br>
    <div   style="margin-left:20%;width:60%;border-radius:10px;box-shadow:2px 2px 6px #aaaaaa;background-color:#ffffff">

        <img src="{% static 'designers/img/tick.png' %}"style="margin-top:15px;height:20%;width:20%;margin-left:40%">
        <center>

            <br>
            <p  style="font-size:300%;font-family:Nill;color:#123c88">You have successfully registered.
            </p>
            <p  style="font-size:120%;max-width:70%;font-family:Nill;font-weight: bold;color:#171717">A confirmation mail will be sent your email id after tele cerification by our team within  next 48 hours.
            </p>
            <br>
            <br>
            <p  style="font-size:100%;max-width:80%;font-family:Ubuntu;color:#171717">After successful verification, you will be given a unique designerID and password. <a href="{% url 'designers:login' %}">Login </a> using your DesignerID and password to add more details about you. Also you will gain access to GharBanao store for exclusive interior designing raw materials and products.
            </p>

            <br>
        </center>
    </div>
</div>
</body>
</body>
</html>