<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'customers/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'customers/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'designers/css/designerinfo.css' %}">
    <link rel="stylesheet" href="{% static 'customers/css/template.css' %}">

</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <center>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </center>
            </button>

            <a class="navbar-brand" href="{% url 'designers:index' %}"><img src="{% static 'customers/img/GharBanaoLogo_nav.png' %}"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container page" id="page">
    <center>
        <div align="left" class="row no-margin container-fluid main">
            <form name = "form" action = "{% url 'designers:registeration' %}" method = "POST" style="background-color:rgba(255,255,255,0.7);border-radius:20px"  id="opening" >{% csrf_token %}

                <div class="row" style="background: #123c88; border-radius: 6px 6px 0px 0px"><h2 class="col-xs-12" style="color: white"> Designer Login</h2></div>

                <div class="row no-margin"><h5> Designer ID:</h5> </div>

                <input class="text-input" type = "text" placeholder = "DesignerID" name = "designerID">

                <div class="row no-margin"><h5> Password:</h5></div>

                <input class="text-input" type="password" placeholder="Password" name="password" >

                <p>{{errors}}</p>

                <button type="submit" value="Login">
                    LOGIN
                </button>
                <a href="{% url 'designers:fp' %}">Forgot Password</a>
                <br>

                <center style="margin-top: 10px">
                    Not signed up with GharBanao yet?
                    <br>
                    <a href="{% url 'designers:register' %}" id="register"> Click here </a> to sign up.
                </center>

            </form>
        </div>
    </center>
</div>
</body>
</body>
</html>
