<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request Item</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'customers/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'customers/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'customers/css/template.css' %}">
    <link rel="stylesheet" href="{% static 'designers/css/request.css' %}">
    <script src="{% static 'customers/js/jquery.min.js' %}"></script>
    <script src="{% static 'customers/js/bootstrap.min.js' %}"></script>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <center>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </center>
            </button>

            <a class="navbar-brand" href="{% url 'designers:index' %}"> <img src="{% static 'customers/img/GharBanaoLogo_nav.png' %}"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar">


            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'designers:myjobs' %}">Projects<span class="sr-only">(current)</span></a></li>
                <li><a href="#">Our Designers<span class="sr-only">(current)</span></a></li>
                <li><a href="{% url 'customers:about' %}"">About Us<span class="sr-only">(current)</span></a></li>
                <li><a type="button" href="{% url 'designers:logout' %}" class="btn my_project">Logout</a></li>


            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid page" id="page">
    <br>
    <form method="POST" action="{% url 'designers:requestitem' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <center>
            <div align="left" class="requestfield">
                <span>Name:</span><br>
                <input type="text" name="object">
            </div>
            <div align="left" class="requestfield">
                <span>Quantity:</span><br>
                <input type="text" name="qty" >
            </div>
            <div align="left" class="requestfield">
                <span>Requirements(if any):</span><br>
                <input type="text" name="requirements" >
            </div>
            <br>
            <button type="submit">Request</button>
        </center>


    </form>
    <br>
    <table style="">
        <tr><b>
            <td style="border:solid 1px #ddd;">
                <b>Objects</b>
            </td>
            <td style="border:solid 1px #ddd;">
                <b>Quantity</b>
            </td>
            <td style="border:solid 1px #ddd;">
                <b>Status</b>
            </td>
            <td style="border:solid 1px #ddd;">
                <b>Requirements</b>
            </td>
        </tr>
        {% for x in requests %}
        <tr style="border:solid 1px #ddd;">
            <td style="border:solid 1px #ddd;">
                {{x.object}}
            </td>
            <td style="border:solid 1px #ddd;">
                {{x.qty}}
            </td>
            <td style="border:solid 1px #ddd;">
                {{x.status}}
            </td>
            <td style="border:solid 1px #ddd;">
                {% if x.requirements %}
                {{x.requirements}}
                {% else %}
                N/A
                {% endif %}
            </td>
        </tr>

        {% endfor %}
    </table>
</div>
</body>
</html>