<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'customers/img/favicon.png' %}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successful - GharBanao</title>
    <link rel="stylesheet" href="{% static 'customers/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'customers/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'designers/css/hello.css' %}">
    <link rel="stylesheet" href="{% static 'customers/css/template.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>


</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'designers:index' %}" ><img src="{% static 'customers/img/GharBanaoLogo_nav.png' %}"></a>
        </div>
        <div style="position: absolute; right: 7vw;top: 25px;">
            <a href="{% url 'designers:logout' %}" class="btn my_project" >Logout<span class="sr-only">(current)</span></a></li>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container page" id="page">
    <center style="background: url({% static 'designers/img/6.jpg' %}) no-repeat center; background-size: cover; height: 576px">
        <div class="row">
            <div class="col-xs-12 head">
                <h2 >Congratulations! You have successfully built your GharBanao profile</h2>

            </div>
        </div>



        <div class="row proceed"><a href="{% url 'designers:registeration' %}"><b> Go to profile </b></a></div>
        <br>
        <br>

    </center>
</div>
</body>
</html>