
body{
    background: white !important;
}

hr {
    margin: 5px 0px;
}

.no-margin{
    margin-left: 0px;
    margin-right: 0px;
}

.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 1.5vw;
    margin-bottom: 0.75px;
}

.page-nav{
    background: hsl(219, 77%, 30%);
    font-size: 18px;
    line-height: 1.2;
    height: 640px;
    color: #ddd;
}

.tab-links{
    list-style: none;
    -webkit-padding-start: 0px;
}

.tab-links>li>a{
    color: white;
    height: 60px;
    display: block;
    padding: 1vw 3vw;
}



.tab-links>li>a:hover, .tab-links>li>a:focus, .tab-links>li>a .active{
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: hsl(219, 77%, 35%);
}

.tab-content{
    height: 640px;
    padding: 5px;
    overflow: auto;
}

.refresh{
    position: fixed;
    z-index: 300;
}

.block{
    margin: 10px 0px;
    padding: 1vw;
    background: #f8f8f8;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}


.post-text{
    width: 100%;
    resize: none;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.post-text:focus{
    border: 1px solid #123c88;
}

.submit-btn{
    color: white;
    border: 2px solid #123c88;
    background: #123c88;
    padding: 3px 10px;
    float: right;
    border-radius: 4px;
}

.recent-author{
    font-weight: bold;
}

.recent-time{
    font-size: 10px;
}

.profpic{
    height: 3.5vw;
}


.author{
    font-size: 18px;
    margin-bottom: 0px;
}

.update-content{
    font-size: 16px;
}

.table-info{
    font-size: 16px;
}

.table-info h3{
    padding: 5px 0px;
    color: #123c88;
    font-weight: bold;
}

.execution{
    background: #123c88;
    color: white;
    border-radius: 20px;
    padding: 2px 10px;
}

.design{
    background: #26b5b0;
    color: white;
    border-radius: 20px;
    padding: 2px 10px;
}

.des-port{
    display: inline-block;
    width: 30%;
    margin-right: 1%;
    height: 120px;
}

.dname{
    font-size: 20px;

}

.cont-profile{

}

.cont_pro{
    height: 14vw;
}

.common-col{
    padding: 5px;
}

.recent-pic{
    margin: 0vw 0.5vw 0.5vw 0vw;
    height: 8vw;
    padding-right: 5px;
}

.complaint-form{
    width: 100%;
    resize: none;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.complaint-form:focus{
    border: 1px solid #123c88;
}

@media screen and (max-width: 767px){
    .page-nav{
        font-size: 16px;
    }
    .tab-links>li>a:hover, .tab-links>li>a:focus, .tab-links>li>a .active{
        font-weight: normal;
    }

    .profpic{
        height: 12vw;
    }

    .cont_pro{
        height: 24vw;
    }

    .recent-pic{
        height: 24vw;
    }
}



@media screen and (max-width: 639px){
    .tab-links>li>a{
        padding: 15px 5px;
    }

    .tab-pane{
        padding: 0px 0px;
    }

    .block{
        margin-top: 0px;
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 479px){
    .page-nav{
        font-size: 3.5vw;
    }
}

