html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    background: #f8f8f8;
}

*{
    margin: 0px;
    padding: 0px;
    border: none;
}

*:focus{
    outline: none;
}


.navbar {
    overflow: visible;
    padding: 0% 7%;
    min-width: 320px;
}

.navbar-default {
	background-image: none;
	border-radius: 0px;
	background-color: #eee;
	position: fixed;
	width: 100%;
	z-index: 700;
	height: 70px;
	-webkit-box-shadow: 0px -1px 9px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px -1px 9px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px -1px 9px 3px rgba(0, 0, 0, 0.5);


}


.navbar-header {
    height: 70px;
}

.navbar-brand {
    height: 70px;
    padding: 12px 10px;
}


.navbar-brand > img {
    height: 48px;

}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#des-link{
    font-size: 12px;
    position: absolute;
    top: 3px;
    right: 8.5vw;
    text-decoration: none;
    color: #123c88;
}



.navbar-nav > li > a {
    font-size: 13px;
    color: #555 !important;
}

.navbar-nav > li > a:hover {
    text-shadow: 1px 1px 2px rgba(18, 60, 136, 0.5);
  
}

.btn {
    display: inline-block;
    padding: 6px 12px;    
    font-size: 13px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;    
    background-image: none;
    border: 2px solid transparent;
    border-radius: 2px;
}

.my_project{
    color: #888;
    background: none;
    border: #888 2px solid;
    border-radius: 4px;
    padding: 2px 24px;
    margin-left: 20px;
   
}

.my_project:hover {
	background: #123c88 !important;
    border: #123c88 2px solid !important;
    color: #fff !important;
}

#login{
    z-index: 700;    
    position: absolute;
    background: #eee;
    border-radius: 6px;
    top: 70px;
    right: 7%;
    width: 320px;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.4);
}

.login_window{
    margin: 5px 10px;
}

.login_window > button {
    font-size: 24px;
}

.login-form h2{
    margin: 8px 10%;
}

.login-form input{
    width: 80%;    
    padding: 12px 20px;
    border-radius: 2px;
    margin: 8px 10%;
    display: inline-block;
    border: 1px solid #ccc;
}

.login-form input[type=checkbox] {
    width: auto;
    border-radius: 50%;
    margin: 8px 4px 8px 10%;

}

.login-form button {
    background: #123c88;
    color: #eee;
    width: 80%;
    padding: 12px 20px;
    border-radius: 6px;
    margin: 20px 10%;
    display: inline-block;
    border: 1px solid #ccc;
}

/*--Page--*/

.page {
    width: 100%;
    min-width: 360px;
    position: absolute;
    top: 70px;
    bottom: 0;
    padding: 0px;
    margin: 0px;
    overflow: auto;
}


/*--Footer--*/
.footer {
    z-index: 500;
    width: 100%;
    background: #121212;
    color: #666;
}



.footer .row {
    padding: 20px 7%;
}

.footer .list {
    margin: 0%;
    padding: 0% 2%;
}

.title-widget{
    margin-top: 24px;
}

.footer h4{
    font-weight: bold;
}

.footer ul {
    display: inline-block;
    list-style-type: none;
    padding: 0px;
}

.footer ul > li{
    line-height: 120%;
    margin: 5px 0px;
}

.footer a {
    text-decoration: none;
    color: #666;
}

.footer .tyc {
    border-right: 1px solid #666;
    padding: 2% 3% 2% 0%;

}

.social-icons{
    margin-bottom: 40px;
}



.social-icons img{
    width: 24px;
    margin: 0.5%;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

.social-icons img:hover{
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
}

.copyright{
    border-top: 1px solid #333;
    width: 100%;
    text-align: center;
    padding: 6px;
    margin: 2px;
}


/*-------Responsive--------*/


@media screen and (min-width: 768px){    
    .navbar-brand {
        margin: 0px !important;
    }
    .navbar-right {
        margin-top: 30px;
        margin-right: 0px;
        height: 20px;
    }


   .navbar-nav > li > a {
        padding: 0px 24px;
    }
    .navbar-nav > li > button {
        
        transform: translateY(-3px);
    }
}

@media  screen and (max-width: 1023px){
    #des-link{
        right: 30px;
    }

    .navbar-nav > li > a {
        padding: 0px 18px;
    }

    .my_project{
        padding: 2px 18px;
        margin-left: 9px;
    }

    .navbar {
        padding: 0%  12px;
    }
    .footer .row{
        padding: 20px 0px;
    }

    .footer .tyc{
        padding: 2% 1% 2% 1%;
    }

}


@media  screen and (max-width: 767px){
    .my_project {
        padding: 5px 10px !important;
    }

    #des-link {
        top: 255px;
        left: 30px;
        right: auto;
        font-size: 18px;
    }
}



@media  screen and (max-width: 767px) {
    .navbar {
        padding: 0%  0px; 
    }

    .navbar-collapse{
        position: absolute;
        top: 70px;
        right: 0px;
        border-radius: 6px;
        width: 300px;
        background-color: #eee;
        padding: 0px;
        float: right;
        overflow: hidden;
        -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.4);
    }

    .navbar-right{
        width: 100%;
        height: 360px;
        margin: 0px;
        overflow: hidden;
        border-radius: 6px;
    }

    .navbar-right > li{
        margin: -1px 30px;
        padding: 20px 0px;
        border-top: 1px solid #ddd;
    }

    .navbar-right > li > a{
        font-size: 18px;
    }

    .navbar-right > li > button{
        font-size: 18px;
        background: #123c88;
        color: #eee;
        border: #123c88 2px solid;
        margin-left: 0px;
    }

    #login{
        z-index: 700;    
        position: absolute;
        background: #eee;
        top: 0%;
        left: 0%;
        width: 300px;
        box-shadow: none;
    }

    .navbar-toggle {
        font-size: 20px;
        width: 44px;
        height: 44px;
        position: relative;
        top: 14px;
        padding: 5px;
        margin: 0px 15px;    
        border: none !important;
        background: none !important;
        
}

    .navbar-toggle .icon-bar {
        background-color: #123c88 !important;
        margin: 3px 0px;
        display: block;
        width: 7px;
        height: 7px;
        border-radius: 50%;
    }

    .navbar-toggle:hover{
        background-color: none !important;
    }

    .footer .tyc {
        border-right: none;
        padding: 5% 20px;
        margin-bottom: 20px;
    }

    .tyc img{
        display: block;
        margin: auto;
    }


}

