.row{
    margin-left: 0px;
    margin-right: 0px;
}

.number{
    width: 40px !important;
}

.para {
    width: calc(100% - 40px);
    float: right;
}

hr{
    margin: 5px 0px 10px;
    border-top: 2px solid #123c88;
}