<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'customers/img/favicon.png' %}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - GharBanao</title>
    <link rel="stylesheet" href="{% static 'customers/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'customers/css/bootstrap-theme.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'customers/css/template.css' %}">
    <link rel="stylesheet" href="{% static 'customers/css/tnc.css' %}">
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <center>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </center>
            </button>

            <a class="navbar-brand" href="{% url 'customers:index' %}"><img src="{% static 'customers/img/GharBanaoLogo_nav.png' %}"></a>
        </div>

    </div><!-- /.container-fluid -->
</nav>

<!-- End of nav -->

<div class="container page" id="page">


    <!-- Page Starts-->
    <center>
        <div align="justify" style="max-width: 960px; margin: 10px 0px; padding: 10px 30px; background: white; border-radius: 6px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5)">
            <h2 align="center" style="color: #123c88"><b>The company</b></h2>
            <hr>
            <p>Interior designing is all about creating a quality life, by tranforming the way you look at your walls, your doors and your room. Afterall an abode is ought to be a beautiful place that defines your very own customised, signature style! And hence GharBanao with this very vision comes as an online platform for both the talented interior designers and the aesthetic-minded customers to get their dreams fulfilled. All the interior designers all across the country would be sharing this platform, to access their customers through GharBanao.</p>
            <p>The customers would be able to choose from the list of interior designers which will be displayed on our website, thus providing them a variety of options to choose from.</p>
            <p>To make the process even more hassle free and easy for our customers, we shortlist the interior designers on a weekly basis and highlight the top five who are  judged on the various parameters like, the maximum number of likes on that designer's work profile, the number of shares that the designer achieved in his particular interior designing work, the blog content of the designer, and the number of GharBanao points (GBP) earned by the Interior Designer. Last but not the least, added to all these would be the customer's rating, review and feedback of the designer that will be recognised and considered for selecting the week's top five interior designers.</p>
            <p>In Gharbanao, each one of us shares the common goal of becoming the most trusted and well respected online company that acts as a perfect medium for the customers to approach the Interior designers. Constantly striving towards this goal ensures we go that extra mile to provide a value-added service to all of our clients, because we firmly believe that an enigmatic interior designing captures the spirit of the client and enhances the essence of the space.</p>

            <br>

            <h2 align="center" style="color: #123c88"><b>The team</b></h2>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <center>
                        <img class="img-responsive" src="{% static 'customers/img/team1.png' %}">
                        <h4>Lalit Raj</h4>
                        <h5>Co-founder & CEO</h5>
                    </center>
                </div>
                <div class="col-sm-3">
                    <center>
                        <img class="img-responsive" src="{% static 'customers/img/team2.png' %}">
                        <h4>Anisul Islam</h4>
                        <h5>Co-founder & Creative Head</h5>
                    </center>
                </div>
                <div class="col-sm-3">
                    <center>
                        <img class="img-responsive" src="{% static 'customers/img/team3.png' %}">
                        <h4>Tonmoy Sagar</h4>
                        <h5>Co-founder & CTO</h5>
                    </center>
                </div>
                <div class="col-sm-3">
                    <center>
                        <img class="img-responsive" src="{% static 'customers/img/team4.png' %}">
                        <h4>Samarth Harlalka</h4>
                        <h5>Co-founder & Marketing Head</h5>
                    </center>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3">
                    <center>
                        <img class="img-responsive" src="{% static 'customers/img/team5.png' %}">
                        <h4>Nabin Kundu</h4>
                        <h5>Web Developer</h5>
                    </center>
                </div>
                <div class="col-sm-3">
                    <center>
                        <img class="img-responsive" src="{% static 'customers/img/team6.png' %}">
                        <h4>Aishwarya Bammidi</h4>
                        <h5>Content Writer</h5>
                    </center>
                </div>
                <div class="col-sm-3">
                    <center>
                        <img class="img-responsive" src="{% static 'customers/img/team8.png' %}">
                        <h4>Mrinmay Mukherjee</h4>
                        <h5>Android Developer</h5>
                    </center>
                </div>
                <div class="col-sm-3">
                    <center>
                        <img class="img-responsive" src="{% static 'customers/img/team7.png' %}">
                        <h4>Shival Gupta</h4>
                        <h5>Mentor</h5>
                    </center>
                </div>
            </div>



        </div>
    </center>
    <!-- Page Ends-->




       <!--footer-->
    <div class="container footer">
        <div class="row"><!-- row -->

            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 tyc"><!-- widgets column center -->
                <img class="img-responsive" src="{% static 'customers/img/logo_bw.png' %}">
            </div>

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">


                <div class="col-sm-4 col-xs-6 mycol list"><!-- widgets column left -->

                    <h4 class="title-widget">COMPANY</h4>
                    <ul>
                        <li><a href="{% url 'customers:about' %}">About Us</a></li>
                        <li><a href="{% url 'customers:career' %}">Career </a></li>
                        <li><a href="mailto:enquiry@gharbanao.co?Subject=Enquiry" target="_blank">Contact Us</a></li>
                        <li><a href="{% url 'designers:index' %}" target="_blank">Designers</a></li>
                        <li><a href="mailto:admin@gharbanao.co?Subject=Feedback" target="_blank"">Feedback</a></li>


                    </ul>


                </div><!-- widgets column left end -->

                <div class="col-sm-4 col-xs-6 mycol list"><!-- widgets column left -->

                    <h4 class="title-widget">LEGAL</h4>
                    <ul>
                        <li><a  href="{% url 'customers:tnc' %}">Terms and Conditions</a></li>
                        <li><a  href="{% url 'customers:policy' %}">Privacy Policy</a></li>
                    </ul>
                </div><!-- widgets column left end -->



                <div class="col-sm-4 col-xs-12 mycol list"><!-- widgets column left -->
                    <h4 class="title-widget">CONNECT</h4>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/GharBanao/"><img src="{% static 'customers/img/fb.png' %}"></a>
                        <a href="https://twitter.com/GharBanao"><img src="{% static 'customers/img/tweet.png' %}"></a>
                        <a href="https://instagram.com/gharbanao"><img src="{% static 'customers/img/inst.png' %}"></a>
                        <a href="https://www.linkedin.com/company-beta/10652164/"><img src="{% static 'customers/img/in.png' %}"></a><br>
                    </div>
                </div>
            </div>
        </div>
        <center><p class="copyright"> Copyright © 2017 Tune Your Construction (P) Ltd.</p></center>
    </div>



</div>
<script src="{% static 'customers/js/jquery.min.js' %}"></script>
<script src="{% static 'customers/js/bootstrap.min.js' %}"></script>
<script>
$(document).mouseup(function(e)
{
    var container = $("#login");


    if (!container.is(e.target) && container.has(e.target).length === 0)
    {
        container.removeClass("in");
    }
});
</script>

<script>
$(document).mouseup(function(e)
{
    var container1 = $(".navbar-collapse");
    var container2 = $(".navbar-toggle");

    if (!container2.is(e.target) && container2.has(e.target).length === 0)
        {    if (!container1.is(e.target) && container1.has(e.target).length === 0)
            {
                container1.removeClass("in");
            }
        }
});
</script>

</body>
</html>