<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'customers/img/favicon.png' %}"/>
    <meta charset="UTF-8">
    <title>{{designer.0.name}} - GharBanao</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'customers/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'customers/css/bootstrap-theme.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'customers/css/template.css' %}">
    <link rel="stylesheet" href="{% static 'designers/css/profile.css' %}">
    <script src="{% static 'customers/js/jquery.min.js' %}"></script>
    <script src="{% static 'customers/js/bootstrap.min.js' %}"></script>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">

                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>

            <a class="navbar-brand" href="{% url 'customers:index' %}"><img src="{% static 'customers/img/GharBanaoLogo_nav.png' %}"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar">


            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'customers:howitworks' %}">How it works<span class="sr-only">(current)</span></a></li>
                <!--<li><a href="{% url 'customers:blogs' %}">Helpdesk<span class="sr-only">(current)</span></a></li>-->
                <li><a href="{% url 'customers:ourdesign' %}">Designs<span class="sr-only">(current)</span></a></li>
                <li><a href="{% url 'customers:blogs' %}">Blog<span class="sr-only">(current)</span></a></li>
                <li><button type="button" class="btn my_project" data-toggle="collapse" data-target="#login" aria-controls="nav-collapse" >My Project</button></li>

                <div id="login" class="collapse">
                    <div class="login_window">
                        <button type="button" class="close" data-toggle="collapse" data-target="#login">&times;</button>
                        <form class="login-form" method="post" action="{% url 'customers:login' %}">
                            {% csrf_token %}
                            <br>
                            <h2>Login</h2>
                            <input type="text" placeholder="Enter ProjectID" name="email" required>
                            <input type="password" placeholder="Enter password" name="password" required>

                            <button type="submit">Login</button>
                        </form>
                        <br>
                    </div>
                </div>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid page" id="page">
    {% for x in designer %}
    <div class="row no-margin container-fluid back-to-list">
        <center><a href="{% url 'customers:search' %}"><h5>Back to the search page</h5></a></center>
    </div>


    <div class="row no-margin container-fluid no-padding header" style="background:url({{x.design1.url}}) no-repeat center;background-size: cover;">
        <div class="cover">
            <div class="row no-margin header-info">
                <div class="col-xs-4 no-padding profilepic" style="background:url({{x.profilepic.url}}) no-repeat center;background-size: cover;">


                </div>

                <div class="col-xs-8 header-details">
                    <div class="row no-margin">
                        <p>{{x.name}}</p>
                        <br>
                        <hr>
                    </div>

                    <div class="row no-margin ">
                        <div class="col-sm-4 col-xs-6 no-padding">
                            <b>Firm name:</b>
                        </div>
                        <div class="col-sm-8 col-xs-6 no-padding">
                            {{x.firmname}}
                        </div>
                    </div>

                    <div class="row no-margin">
                        <div class="col-sm-4 col-xs-6 no-padding">
                            <b>Address:</b>
                        </div>
                        <div class="col-sm-8 col-xs-6 no-padding">
                            {{x.address}}
                        </div>
                    </div>

                    <div class="row no-margin">
                        <div class="col-sm-4 col-xs-6 no-padding">
                            <b>GharBanao Points:</b>
                        </div>
                        <div class="col-sm-8 col-xs-6 no-padding">
                            {{x.points}}
                        </div>
                    </div>


                    <div class="row no-margin hire" align="right">
                        <form  method="post" action="{% url 'customers:designer_selected' %}">
                            {% csrf_token %}
                            <button type="submit" value="{{x.designerID}}" name="designerselected" class="hire-btn" style="">Hire now</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <br>

    </div>


    <div class="row no-margin tabs" align="center">
        <ul class="tab-links">
            <li><a data-toggle="tab" href="#myblogs">Blogs</a></li>
            <li class="active"><a data-toggle="tab" href="#portfolio">Portfolio</a></li>
            <li><a data-toggle="tab" href="#about">About</a></li>

        </ul>
    </div>

    <div class="row no-margin tab-content profile-details" align="center">
        <div id="myblogs" class="tab-pane fade">
            <div class="row no-margin block">
                {% for blog in blogList %}

                <div class="row article">
                    <div class="col-xs-4 no-padding thumb">
                        {% if blog.image %}
                        <div style="background: url({{blog.image.url}})  no-repeat center; background-size: cover;">
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-xs-7 content">
                        <h2>{{blog.title}}</h2>
                        <p class="content-preview">{{blog.subject}}</p>
                        <p>
                            Posted By {{blog.author.name}} on {{blog.dated}}
                        </p>
                    </div>
                </div><hr>
                {% endfor %}
            </div>
        </div>


        <div id="portfolio" class="tab-pane fade  in active">
            <h3 style="color: #123c88">Portfolio</h3>
            <hr>
            <div data-toggle="modal" data-target="#design1" class="col-xs-4"><img class="img-responsive" src="{{x.design1.url}}"></div>

            <div data-toggle="modal" data-target="#design2" class="col-xs-4"><img class="img-responsive" src="{{x.design2.url}}"></div>

            <div data-toggle="modal" data-target="#design3" class="col-xs-4"><img class="img-responsive" src="{{x.design3.url}}"></div>

            <div id="design1" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Design1</h4>
                        </div>
                        <div class="modal-body">
                            <center><img class="img-responsive" src="{{x.design1.url}}"></center>
                        </div>
                    </div>

                </div>
            </div>

            <div id="design2" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Design2</h4>
                        </div>
                        <div class="modal-body">
                            <center><img class="img-responsive" src="{{x.design2.url}}"></center>
                        </div>
                    </div>

                </div>
            </div>

            <div id="design3" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Design3</h4>
                        </div>
                        <div class="modal-body">
                            <center><img class="img-responsive" src="{{x.design3.url}}"></center>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div id="about" class="tab-pane fade">
            <div class="col-xs-12 block">
                <h4 style="color: #123c88">About the designer</h4>

                <hr>
                <p> {{x.AboutMe}}  </p>
            </div>

            <div class="col-xs-12 block">
                <h4 style="color: #123c88">About the designs</h4>
                <hr>
                <p> {{x.AboutYourDesigns}} </p>
            </div>
        </div>
    </div>

    {% endfor %}

        <!--footer-->
    <div class="container footer">
        <div class="row"><!-- row -->

            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 tyc"><!-- widgets column center -->
                <img class="img-responsive" src="{% static 'customers/img/logo_bw.png' %}">
            </div>

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">


                <div class="col-sm-4 col-xs-6 mycol list"><!-- widgets column left -->

                    <h4 class="title-widget">COMPANY</h4>
                    <ul>
                        <li><a href="{% url 'customers:about' %}">About Us</a></li>
                        <li><a href="{% url 'customers:career' %}">Career </a></li>
                        <li><a href="mailto:enquiry@gharbanao.co?Subject=Enquiry" target="_blank">Contact Us</a></li>
                        <li><a href="{% url 'designers:index' %}" target="_blank">Designers</a></li>
                        <li><a href="mailto:admin@gharbanao.co?Subject=Feedback" target="_blank"">Feedback</a></li>


                    </ul>


                </div><!-- widgets column left end -->

                <div class="col-sm-4 col-xs-6 mycol list"><!-- widgets column left -->

                    <h4 class="title-widget">LEGAL</h4>
                    <ul>
                        <li><a  href="{% url 'customers:tnc' %}">Terms and Conditions</a></li>
                        <li><a  href="{% url 'customers:policy' %}">Privacy Policy</a></li>
                    </ul>
                </div><!-- widgets column left end -->



                <div class="col-sm-4 col-xs-12 mycol list"><!-- widgets column left -->
                    <h4 class="title-widget">CONNECT</h4>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/GharBanao/"><img src="{% static 'customers/img/fb.png' %}"></a>
                        <a href="https://twitter.com/GharBanao"><img src="{% static 'customers/img/tweet.png' %}"></a>
                        <a href="https://instagram.com/gharbanao"><img src="{% static 'customers/img/inst.png' %}"></a>
                        <a href="https://www.linkedin.com/company-beta/10652164/"><img src="{% static 'customers/img/in.png' %}"></a><br>
                    </div>
                </div>
            </div>
        </div>
        <center><p class="copyright"> Copyright © 2017 Tune Your Construction (P) Ltd.</p></center>
    </div>



</div>


<script src="{% static 'customers/js/jquery.min.js' %}"></script>
<script src="{% static 'customers/js/bootstrap.min.js' %}"></script>
<script>
$(document).mouseup(function(e)
{
    var container = $("#login");


    if (!container.is(e.target) && container.has(e.target).length === 0)
    {
        container.removeClass("in");
    }
});
</script>

<script>
$(document).mouseup(function(e)
{
    var container1 = $(".navbar-collapse");
    var container2 = $(".navbar-toggle");

    if (!container2.is(e.target) && container2.has(e.target).length === 0)
        {    if (!container1.is(e.target) && container1.has(e.target).length === 0)
            {
                container1.removeClass("in");
            }
        }
});
</script>




</body>
</html>