<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'customers/img/favicon.png' %}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design Gallery - GharBanao</title>
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="{% static 'customers/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'customers/css/template.css' %}" >
    <link rel="stylesheet" href="{% static 'customers/css/designs.css' %}" >

</head>


<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">

                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>

            <a class="navbar-brand" href="{% url 'customers:index' %}"><img src="{% static 'customers/img/GharBanaoLogo_nav.png' %}"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar">


            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'customers:howitworks' %}">How it works<span class="sr-only">(current)</span></a></li>
                <!--<li><a href="{% url 'customers:blogs' %}">Helpdesk<span class="sr-only">(current)</span></a></li>-->
                <li><a href="{% url 'customers:ourdesign' %}">Designs<span class="sr-only">(current)</span></a></li>
                <li><a href="{% url 'customers:blogs' %}">Blog<span class="sr-only">(current)</span></a></li>
                <li><button type="button" class="btn my_project" data-toggle="collapse" data-target="#login" aria-controls="nav-collapse" >My Project</button></li>

                <div id="login" class="collapse">
                    <div class="login_window">
                        <button type="button" class="close" data-toggle="collapse" data-target="#login">&times;</button>
                        <form class="login-form" method="post" action="{% url 'customers:login' %}">
                            {% csrf_token %}
                            <br>
                            <h2>Login</h2>
                            <input type="text" placeholder="Enter ProjectID" name="email" required>
                            <input type="password" placeholder="Enter password" name="password" required>

                            <button type="submit">Login</button>
                        </form>
                        <br>
                    </div>
                </div>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- End of nav -->

<div class="container-fluid page" id="page">
    <center>
    <div class="row container-fluid no-margin page-title">
        <div class="col-sm-6" align="left">
            <h1 class="border_right">Our Designs</h1>
        </div>

        <div class="col-sm-6 filter" align="right">
            <form method="get" action="{% url 'customers:ourdesign' %}">
                <select  name="search">
                    <option>
                        Traditional
                    </option>
                    <option>
                        Modern
                    </option>
                    <option>
                        Minimalistic
                    </option>
                    <option>
                        Contemporary
                    </option>
                    <option>
                        Industrial
                    </option>
                    <option>
                        MidCenturyModern
                    </option>
                    <option>
                        Scandinian
                    </option>
                    <option>
                        Bohemian
                    </option>
                    <option>
                        Retro
                    </option>
                </select>
                <button type="submit">Search </button>

            </form>
        </div>
    </div>
    </center>
    <hr>
    <center><h3>{{header}}</h3></center>
    <hr>

    <div class="row container-fluid no-margin">
        <div class="row container-fluid no-margin">
            {% for x in ourimg %}
            <div class="col-sm-4 no-padding frame">
                <div class="des" style="background: url({{x.0}}) no-repeat center">
                    <div class="col-xs-12 no-padding cover">
                        <div class="col-xs-12 details">
                            <div class="col-xs-2 no-padding">
                                <img src="{{x.1.profilepic.url}}" class="img-responsive">
                            </div>

                            <div class="col-xs-10">
                                <h3>{{x.1.name}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <hr>



    <!--footer-->
        <!--footer-->
    <div class="container footer">
        <div class="row"><!-- row -->

            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 tyc"><!-- widgets column center -->
                <img class="img-responsive" src="{% static 'customers/img/logo_bw.png' %}">
            </div>

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">


                <div class="col-sm-4 col-xs-6 mycol list"><!-- widgets column left -->

                    <h4 class="title-widget">COMPANY</h4>
                    <ul>
                        <li><a href="{% url 'customers:about' %}">About Us</a></li>
                        <li><a href="{% url 'customers:career' %}">Career </a></li>
                        <li><a href="mailto:enquiry@gharbanao.co?Subject=Enquiry" target="_blank">Contact Us</a></li>
                        <li><a href="{% url 'designers:index' %}" target="_blank">Designers</a></li>
                        <li><a href="mailto:admin@gharbanao.co?Subject=Feedback" target="_blank"">Feedback</a></li>


                    </ul>


                </div><!-- widgets column left end -->

                <div class="col-sm-4 col-xs-6 mycol list"><!-- widgets column left -->

                    <h4 class="title-widget">LEGAL</h4>
                    <ul>
                        <li><a  href="{% url 'customers:tnc' %}">Terms and Conditions</a></li>
                        <li><a  href="{% url 'customers:policy' %}">Privacy Policy</a></li>
                    </ul>
                </div><!-- widgets column left end -->



                <div class="col-sm-4 col-xs-12 mycol list"><!-- widgets column left -->
                    <h4 class="title-widget">CONNECT</h4>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/GharBanao/"><img src="{% static 'customers/img/fb.png' %}"></a>
                        <a href="https://twitter.com/GharBanao"><img src="{% static 'customers/img/tweet.png' %}"></a>
                        <a href="https://instagram.com/gharbanao"><img src="{% static 'customers/img/inst.png' %}"></a>
                        <a href="https://www.linkedin.com/company-beta/10652164/"><img src="{% static 'customers/img/in.png' %}"></a><br>
                    </div>
                </div>
            </div>
        </div>
        <center><p class="copyright"> Copyright © 2017 Tune Your Construction (P) Ltd.</p></center>
    </div>




</div>
<script src="{% static 'customers/js/jquery.min.js' %}"></script>
<script src="{% static 'customers/js/bootstrap.min.js' %}"></script>
<script>
$(document).mouseup(function(e)
{
    var container = $("#login");


    if (!container.is(e.target) && container.has(e.target).length === 0)
    {
        container.removeClass("in");
    }
});
</script>

<script>
$(document).mouseup(function(e)
{
    var container1 = $(".navbar-collapse");
    var container2 = $(".navbar-toggle");

    if (!container2.is(e.target) && container2.has(e.target).length === 0)
        {    if (!container1.is(e.target) && container1.has(e.target).length === 0)
            {
                container1.removeClass("in");
            }
        }
});
</script>

</body>
</html>