<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'customers/img/favicon.png' %}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy - GharBanao</title>
    <link rel="stylesheet" href="{% static 'customers/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'customers/css/bootstrap-theme.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'customers/css/template.css' %}">
    <link rel="stylesheet" href="{% static 'customers/css/tnc.css' %}">
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <center>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </center>
            </button>

            <a class="navbar-brand" href="{% url 'customers:index' %}"><img src="{% static 'customers/img/GharBanaoLogo_nav.png' %}"></a>
        </div>

    </div><!-- /.container-fluid -->
</nav>

<!-- End of nav -->

<div class="container page" id="page">


    <!-- Page Starts-->
    <center>
        <div align="justify" style="max-width: 960px; margin: 10px 0px; padding: 30px; background: white; border-radius: 6px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5)">


            <h3 align="center"><b>Privacy Policy </b></h3>


            <h4><b>Updated on: 18th Of July 2017</b></h4>

            <p>Tune Your Construction Private Limited and/or Ghar Banao as its brand, (“We”) take privacy very seriously. Our Privacy Policy (“Policy”) is designed to provide transparency into our privacy practices and principles, presented in a format that makes it easier for our guests to navigate, read and understand contents of our website, www.gharbanao.com (“Website”). This Privacy Policy is a contract between You and the respective Ghar Banao entity whose Website You use or access or You otherwise deal with. This Privacy Policy shall be read together with the respective Terms and condition.  We are dedicated to treating your personal information with care and respect. We have accordingly developed this Policy to protect your personal information and keep it confidential.</p>

            <p>By visiting our website you agree to abide with the term and conditions of this privacy policy. If you do not agree please do not access or use our website. By use of the website you willfully consent to use and disclose your personal information in accordance to this privacy policy. This privacy policy is incorporated into and subject to the terms of use. </p>


            <h5>1. <b><u>PERSONAL INFORMATION</b></u></h5>

            <div class="row"><span class="number">1.1</span><div class="para"><p>We categorize information about you (collectively referred to as "Personal Information") as follows:</p>
                <div class="row"><span class="number">a.</span><p class="para">Personal information: shall be defined to include information that whether on its own or in combination with other information may be used to readily identify or contact you such as: name, address, email address, phone number etc. We collect personal information from Service Professionals offering their products and services. This information is partially or completely accessible to all visitors using Ghar Banao website or mobile application, either directly or by submitting a request for a service. Service Professionals and customers are required to create an account to be able to access certain portions of our Website, such as to submit questions and request information.</p></div>
                <div class="row"><span class="number">b.</span><p class="para">Consumer Information: Information which you provide when you register for a Service, which may include some or all of the following: - Information about your personal identity such as gender, name, job title, address, marital status, age, preferences, likes and dislikes etc.; - Your financial information such as your banking details and any information relating to your lifestyle levels; and - Your contact details such as your physical addresses, postal addresses, telephone and fax numbers and the like. This information is partially or completely accessible to all visitors using Ghar Banao website or mobile application, either directly or by submitting a request for a service.  </p></div>
                <div class="row"><span class="number">c.</span><p class="para">Payment and Account Information: Your account history with us including (without limitation) all billing information and communications, payment history etc. We maintain this in encrypted form on secure servers.</p></div>
                <div class="row"><span class="number">d.</span><p class="para">Service Usage: Information about your navigation using our Services, for example the URLs of websites, which you visit and from which you request downloads. </p></div>
                <div class="row"><span class="number">e.</span><p class="para">Log information: Information such as your web request, IP address, browser type, browser language, date and time of request. </p></div>
                <div class="row"><span class="number">f.</span><p class="para">Transactional Information: Transactional history (other than banking details) about your e-commerce activities.</p></div>
                <div class="row"><span class="number">g.</span><p class="para">Correspondence Information: Content, information about your correspondents, and the destination/origin of communications between you and any other person using our Services, which include email communications, blog, chat room and discussion board communications, instant message communications, experts forum communications, fax mail communications, membership of mailing lists etc.</p></div>
                <div class="row"><span class="number">h.</span><p class="para">User IDs: Your usernames, passwords, email addresses and other security-related information used by you in relation to our Services. </p></div>
                <div class="row"><span class="number">i.</span><p class="para">Stored Information: Data either created by you or by a third party and which you wish to store on our servers such as image files, documents etc. We only collect your Personal Information to conduct our business and to enable us to deliver and improve our Services. </p></div>
                <p>Ghar Banao reserves the right to record the conversations between service professionals and consumers facilitated by Ghar Banao through the messaging/chat mechanism on the platform or the calls made through the virtual numbers provided to safeguard the privacy of consumers and service professionals. All the chat/messaging logs or call recordings can be used to but not limited to monitor and prohibit abuse, safeguard the rights of consumers and service professionals, resolve disputes.</p>
            </div>
            </div>

            <div class="row"><span class="number">1.2</span><p class="para">Such information gathered shall be utilized to ensure greater customer satisfaction and help a customer replete their needs. We will only disclose your Personal Information in accordance with this Policy. If we want to use it for any other purpose, we will obtain your prior written consent. If you decline to submit personal information to us, then we will unfortunately not be in a position to provide the Services to you. All the information provided by you to us is to an open, public environment or forum that may be accessed by third parties. It is possible that third parties may collect and collate and use such information for their own purposes. You should accordingly be careful when deciding to share any of your Personal Information in such public environments. Information, which is disclosed publicly, is also shared with our affiliates, third party service providers, sponsors of competitions etc. unless expressly stated otherwise. We are not liable to you or any third party for any damages that you or any third party may suffer howsoever arising from your disclosure of Personal Information in any public environment. You accordingly disclose information in a public environment at your own risk.</p></div>

            <h5> 2.	<b><u>RIGHT TO COLLECT</u></b></h5>

            <p>By accepting the Terms of Service you agree that we may collect and store your Personal Information as long as you use our Services subject to the limitations set out in this Policy.</p>

            <div class="row"><span class="number">2.1</span><div class="para"><p>We collect your Profiling and Account Information for the following reasons:</p>

                <div class="row"><span class="number">a.</span><p class="para">We need your identity details, contact details, bank information and account history   to manage our relationship with you and provide Services to you. We may use this information for services that you might like on our Website. We will only disclose this information as provided below.</p></div>
                <div class="row"><span class="number">b.</span><p class="para">We use certain of your information in an aggregated form to compile statistical and demographical profiles for our business and marketing activities. We may disclose such information about you, provided that the information in an aggregated form that is not capable of being used or interpreted in such a manner as to identify you. </p></div>
            </div>
            </div>

            <div class="row"><span class="number">2.2</span><div class="para"><p>We collect and store your Service Usage and Transactional Information to:</p>
                <div class="row"><span class="number">a.</span><p class="para">Determine and verify the Service Charges payable by you and to administer our relationship with you. </p></div>
                <div class="row"><span class="number">b.</span><p class="para">Comply with any statutory or regulatory requirement. </p></div>
                <div class="row"><span class="number">c.</span><p class="para">Compile statistical and demographical profiles about you for our business and marketing activities and to customize our Services to you. While we are entitled to use such information about you for our own internal business purposes without limitation, we will only disclose it in an aggregated form that is not capable of being used or interpreted in such a manner as to identify you;</p></div>
                <div class="row"><span class="number">d.</span><p class="para">Monitor your use of our Services for the purposes of ensuring compliance with our Terms of Service. </p></div>
                <div class="row"><span class="number">e.</span><p class="para">Surveys: We may from time to time conduct voluntary surveys of visitors to the Website to obtain aggregate demographic information about them. Such information may be compiled and shared in the aggregate with advertisers and other third parties.</p></div>
            </div>
            </div>
            <div class="row"><span class="number">2.3</span><div class="para"><p>We collect and store your Correspondence Information and Personal Identifiers to:</p>

                <div class="row"><span class="number">a.</span><p class="para">Comply with our obligations under law; </p></div>
                <div class="row"><span class="number">b.</span><p class="para">Monitor your use of our Services in order to ensure your compliance with our Terms of Service. </p></div>
            </div>
            </div>
            <div class="row"><span class="number">2.4</span><p class="para">Any Personal Information which we collect and which we may use in an aggregated format ensuring you are not individually identified in our property. We may use it, in our sole discretion and without any compensation to you, for any legitimate purpose including (without limitation) the commercial sale thereof to third parties. Sometime we use "cookies" so that we can provide you with more customized information when you return to our Website. "Cookies" are used to store user preferences and to track user trends, so as to enhance your interactive experience and generally improve our Services to you. You can set your browser to notify you when you are sent a "cookie", giving you the chance to decide whether or not to accept it. If you do accept a "cookie", you thereby agree to our use of any Personal Information collected by us using that Cookie. You may update your Profiling Information at any time on the Website. You acknowledge and agree that in the interests of improving personalization and Service efficiency, we may, under controlled and secure circumstances, share your Personal Information with our affiliates (an entity which is our subsidiary or holding company or a subsidiary of our holding company or an entity which controls, is controlled by or is under common control with us).</p></div>
            <div class="row"><span class="number">2.5</span><p class="para">If we deem it necessary, in our sole and absolute discretion, we may also ask for and collect supplemental information from third parties for inquiry, such as information about your credit from a credit bureau (to the extent permitted by law), or information to verify any identification details you provide during registration.</p></div>
            <h5>3. <u><b>NECESSITY OF INFORMATION</b></u></h5>

            <p>We collect your personal information and aggregate information about the use of our Website and Services to better understand your needs and to provide you with a better Website experience. Specifically, we may use your personal information for any of the following reasons:</p>
            <div class="row"><span class="number">a.</span><p class="para">To provide our Services to you, including registering you for our Services, verifying your identity and authority to use our Services, and to enable you to use our Website and our Services.</p></div>
            <div class="row"><span class="number">b.</span><p class="para">For customer support and to respond to your inquiries and query.</p></div>
            <div class="row"><span class="number">c.</span><p class="para">For internal record-keeping purposes.</p></div>
            <div class="row"><span class="number">d.</span><p class="para">To process billing and payment, in connection with Website and Services.</p></div>
            <div class="row"><span class="number">e.</span><p class="para">To improve and maintain our Website and our Services (for example, we track information entered through the "Search" function; this helps us determine which areas of our Website users like best and areas that we may want to enhance; we also will use for trouble-shooting purposes, where applicable).</p></div>
            <div class="row"><span class="number">f.</span><p class="para">To periodically send any emails to the email address you provide regarding new Area of your interest from Ghar Banao, special offers from Ghar Banao or other information about Ghar Banao that we think you may find important and necessary.</p></div>
            <div class="row"><span class="number">g.</span><p class="para">To contact you via email, telephone, facsimile or mail, or, where requested, by text message, to deliver certain services or information you have requested.</p></div>
            <div class="row"><span class="number">h.</span><p class="para">For Ghar Banao market research purposes, including, but not limited to, the customization of the Website according to your interests.</p></div>
            <div class="row"><span class="number">i.</span><p class="para">We may use your demographic information (i.e., age, postal code, residential and commercial addresses, and other various data) to more effectively facilitate the promotion of goods and services to appropriate target audiences and for other research and analytical purposes</p></div>
            <div class="row"><span class="number">j.</span><p class="para">To resolve disputes, to protect ourselves and other users of our Website and Services, and to enforce our Terms of Use.</p></div>
            <div class="row"><span class="number">k.</span><p class="para">We also may compare personal information collected through the Website and Services to verify its accuracy with personal information collected from third parties. and</p></div>
            <div class="row"><span class="number">l.</span><p class="para">We may combine aggregate data with the personal information we collect about you.</p></div>
            <div class="row"><span class="number">m.</span><p class="para">From time to time, Ghar Banao may use personal information for new and unanticipated uses not previously disclosed in our Privacy Policy. If our information practices change regarding information previously collected, Ghar Banao shall make reasonable efforts to provide notice and obtain consent of any such uses as may be required by law.</p></div>
            <div class="row"><span class="number">n.</span><p class="para">Further any Exception to the Rule is given and described below in clause 3 of the terms.</p></div>

            <h5>4. 	<b><u>GENERAL EXCEPTIONS</u></b></h5>
            <p>If we are required to intercept, disclose, monitor and/or store your Personal Information: (a) by law; (b) to conduct our business; (c) to secure our systems; or (d) to enforce our own rights, we will do so in the manner as prescribed by law.</p>

            <p>Such interception, disclosure, monitoring and storage may take place without your knowledge. In that case, we will not be liable to you or any third party for any damages howsoever arising from such interception, disclosure, monitoring and storage. In order to ensure that all our Users comply with the Terms of Service, we may monitor your Personal Information to the extent that this may be required to determine compliance and/or to identify instances of non-compliance. To ensure that the security and integrity of our Services are safeguarded, we may monitor your Personal Information. This monitoring may include (without limitation) the filtering of incoming and outgoing electronic data messages to identify, limit and/or prevent the transmission of spam, viruses and/or unlawful, defamatory, obscene or otherwise undesirable material or content. We may under certain circumstances procure an element of the Services from a third party service provider. To the extent that it may be necessary, and solely for the purposes of providing the Service to you, you agree that we may disclose to such third party any of your Personal Information that may be necessary for the procurement of services from the third party.</p>


            <h5>5. <b><u>ACCOUNT SECURITY</u></b></h5>
            <p>Your password is the key to your Account. When creating your password you should use unique numbers, letters, special characters, and combinations thereof according to your choice including GBID (Ghar Banao Identity Card) NO. In addition, DO NOT disclose your password to anyone. If you do share your password or your personal information with others, you are solely responsible for all actions taken via your Account. If you lose control of your password, you may lose substantial control over your personal information and be subject to legally binding actions taken on your behalf. Thus, IF YOUR PASSWORD HAS BEEN COMPROMISED FOR ANY REASON, YOU MUST IMMEDIATELY NOTIFY GHAR BANAO TO CHANGE YOUR PASSWORD. However, we will notify you once through email if anyone else will log in through you register name or username or website.</p>



            <h5>6. <b><u>CONTENT</u></b></h5>
            <p> invite you to post content on our Website www.gharbanao.co, including your comments, feedback, pictures, and any other information that you would like to be available on our Website. If you post content to our Website, all of the information that you post will be available to all visitors to our Website. If you post your own content on our Website or Services, your posting may become public and Ghar Banao cannot prevent such information from being used in a manner that may violate this Policy, the law, or your personal privacy.</p>


            <h5>7. <u><b>SECURITY</b></u></h5>

            <p>We endeavor to comply with laws of other countries but cannot and do not warrant that we do. We do everything we reasonably can to protect your rights of privacy on systems and the Website controlled by us, but we are not liable for any unauthorized or unlawful disclosures of your personal and confidential information made by third parties who are not subject to our control, for example advertisers and websites that have links to our Website. You should take note that the information and privacy practices of our business partners, advertisers, sponsors or other sites to which we provide hyperlinks, may be different from ours. </p>
            <p>We employ procedural and technological security measures, which are reasonably designed to help protect your personal information from unauthorized access or disclosure. No security measures, however, are 100% complete. Therefore, we do not promise and cannot guarantee, and thus you should not expect, that your personal information or private communications will not be collected and used by others.</p>


            <h5>8. <b>GREVANCES AND HELPDESK</b></h5>
            <p>In terms of the Information Technology (Intermediaries Guidelines) Rules, 2011 and the Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Data or Information) Rules, 2011, any grievance or complaint may be intimated to Grievance Officer, who may be reached at complete address of the person (official one )India. The complaint shall be redressed within a period of 1 (one) month. This Policy is incorporated into and is subject to the Ghar Banao Terms of Use, which can be accessed at www.gharbanao.co/terms. Your use of the Website and/or Services and any personal information you provide on the Website remains subject to the terms of the Policy and gharbanao's Terms of Use.</p>

            <p>If you have any questions and comment regarding our policy, please feel free to drop us a line at <a href="https://www.gharbanao.co">grievance@gharbanao.com .</a></u> </p>



            <h5>9. <b><u>POLICY UPDATE</u></b></h5>
            <p>This policy if effective as on the date mentioned hereinabove. GHAR BANAO (we) at our sole discretion may change any or all of the terms of this policy by updating this document from time to time as per the requirement of company and law. To make sure you are aware of any changes, please review this policy periodically for updates. Your continued use of this website and/or continued provision of personal information to us will be subject to the terms of the then-current policy.</p>

            </p>
    </center>
    <!-- Page Ends-->




    <!--footer-->
        <!--footer-->
    <div class="container footer">
        <div class="row"><!-- row -->

            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 tyc"><!-- widgets column center -->
                <img class="img-responsive" src="{% static 'customers/img/logo_bw.png' %}">
            </div>

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">


                <div class="col-sm-4 col-xs-6 mycol list"><!-- widgets column left -->

                    <h4 class="title-widget">COMPANY</h4>
                    <ul>
                        <li><a href="{% url 'customers:about' %}">About Us</a></li>
                        <li><a href="{% url 'customers:career' %}">Career </a></li>
                        <li><a href="mailto:enquiry@gharbanao.co?Subject=Enquiry" target="_blank">Contact Us</a></li>
                        <li><a href="{% url 'designers:index' %}" target="_blank">Designers</a></li>
                        <li><a href="mailto:admin@gharbanao.co?Subject=Feedback" target="_blank"">Feedback</a></li>


                    </ul>


                </div><!-- widgets column left end -->

                <div class="col-sm-4 col-xs-6 mycol list"><!-- widgets column left -->

                    <h4 class="title-widget">LEGAL</h4>
                    <ul>
                        <li><a  href="{% url 'customers:tnc' %}">Terms and Conditions</a></li>
                        <li><a  href="{% url 'customers:policy' %}">Privacy Policy</a></li>
                    </ul>
                </div><!-- widgets column left end -->



                <div class="col-sm-4 col-xs-12 mycol list"><!-- widgets column left -->
                    <h4 class="title-widget">CONNECT</h4>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/GharBanao/"><img src="{% static 'customers/img/fb.png' %}"></a>
                        <a href="https://twitter.com/GharBanao"><img src="{% static 'customers/img/tweet.png' %}"></a>
                        <a href="https://instagram.com/gharbanao"><img src="{% static 'customers/img/inst.png' %}"></a>
                        <a href="https://www.linkedin.com/company-beta/10652164/"><img src="{% static 'customers/img/in.png' %}"></a><br>
                    </div>
                </div>
            </div>
        </div>
        <center><p class="copyright"> Copyright © 2017 Tune Your Construction (P) Ltd.</p></center>
    </div>




</div>
<script src="{% static 'customers/js/jquery.min.js' %}"></script>
<script src="{% static 'customers/js/bootstrap.min.js' %}"></script>
<script>
$(document).mouseup(function(e)
{
    var container = $("#login");


    if (!container.is(e.target) && container.has(e.target).length === 0)
    {
        container.removeClass("in");
    }
});
</script>

<script>
$(document).mouseup(function(e)
{
    var container1 = $(".navbar-collapse");
    var container2 = $(".navbar-toggle");

    if (!container2.is(e.target) && container2.has(e.target).length === 0)
        {    if (!container1.is(e.target) && container1.has(e.target).length === 0)
            {
                container1.removeClass("in");
            }
        }
});
</script>

</body>
</html>