<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adhesives</title>
     <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />

</head>
<body>
<form method="post" action="{% url 'Adhesivesadd' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <br>brand<br>
    <input type='text' name='brand'>

    <br>series<br><input type='text' name= 'series'>
    <br>img1<br><input type='file' name= 'img1'>
    <br>img2<br><input type='file' name= 'img2 '>
    <br>compcode<br><input type='text' name= 'compcode'>
    <br>quantity<br><input type='text' name= 'quantity'>
    <br>application<br><input type='type' name= 'application'>
    <br>description<br><textarea name="description"></textarea>
    <br>original_price<br><input type='text' name="original_price">
    <br>cost_price<br><input type='text'  name="cost_price" >
    <br>selling_price<br><input type='text' name="selling_price" >
    <script>
        function addvendor(){
            selects=document.getElementById("selects")
            var selectList=document.createElement('select')
            line=document.createElement('div')
            line.innerHTML="<select name='vendor' class='selectpicker' data-show-subtext='true' data-live-search='true'><option >vendors</option>{% for v in merchants %}<option value='{{v.merchantID}}'>{{v}}</option>{% endfor %}</select>"
            selects.appendChild(line)

        }

    </script>
    <input type="button" value="add vendor" onclick="addvendor()">
    <div id="selects">

    </div>


    <button type="submit">Add</button>
</form>
</body>
</html>