<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'customers/img/favicon.png' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Adhesive - GharBanao Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'gbstore/css/template.css' %}">
    <link rel="stylesheet" href="{% static 'gbstore/css/plyorder.css' %}">

</head>
<body>
<div class="row" style="height: 20px; background: #d8d8d8">

</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'gbstore:index' %}" ><img src="{% static 'customers/img/GharBanaoLogo_nav.png' %}"></a>
        </div>

        <div id="search">
            <form method="get" action="{% url 'gbstore:ref' %}">
                <select name="category">
                    <option> All </option>
                    <option> Plywood </option>
                    <option> Laminates </option>
                    <option> Adhesives </option>
                </select>
                <input style="margin-left: -4px;" type="text" name="search" placeholder="Search by product name">
                <button style="margin-left: -4px;" class="btn" type="submit"><span class="glyphicon glyphicon-search"></span> <span class="hide-text" > Search </span></button>
            </form>
        </div>
        <div class="nav-btns">
            <ul class="h-list">
                <li class="btn"> <span class="glyphicon glyphicon-shopping-cart"></span> <span class="hide-text"> Cart </span></li>
                <li class="btn">  <span class="glyphicon glyphicon-user"></span> <span class="hide-text"> Profile </span><span style="font-size: 10px;" class="glyphicon glyphicon-chevron-down"></span> </li>
            </ul>
        </div>
</nav>
<div class="container-fluid page" id="page">

        <div class="row searchwin">
            <h4 align="center"  style="color: #5879b5">Search and place order for adhesives by brand and series e.g. Fevicol Pro Bond</h4>
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
                <span style="color: #eee" class="glyphicon glyphicon-tag"></span>
                <input class="searchf" type="text" placeholder="Enter brand">

            </div>
            <div class="col-sm-3">
                <span style="color: #eee" class="glyphicon glyphicon-arrow-right"></span>
                <input class="searchf" type="text" placeholder="Enter series">

            </div>
            <div class="col-sm-3"></div>
        </div>

    <br>

        <div class="row nomargin">
            <center>
                <div class="row thick">
                    <h3>Available Denominations:</h3>
                    <button class="btn"> 1kg </button>
                    <button class="btn"> 2kg </button>
                    <button class="btn"> 5kg </button>
                    <button class="btn"> 10kg </button>
                    <button class="btn"> 20kg </button>
                    <button class="btn"> 30kg </button>
                    <button class="btn"> 50kg </button>
                </div>
                <br>
                <button class="btn">Submit</button>
            </center>
        </div>


</div>
</body>
</html>
