<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bills</title>
</head>
<body>
<h1>Search by date</h1>
<form method="get" action="{% url 'searchbydate' %}">
    <input type="date" name="dated">
    <button type="submit">Search by date</button>
</form>
<br>
<h1>Search by designer</h1>
<form method="get" action="{% url 'searchbydesigner' %}">
   Name: <input type="text" name="name">
    <button type="submit">Search by designer</button>
</form>
<br>

</form>
<br>
<h1>Search by billid</h1>
<form method="get" action="{% url 'searchbybillid' %}">
   Name: <input type="text" name="billid">
    <button type="submit">Search by billid</button>
</form>
<br>

    {% for b in bills %}
       <h1>{{b.0.billid}}</h1>
        {{b.0.date}}<br>
        {% for entity in b.1 %}
            {{entity.gbcode}}<br>
            {{entity.quantity}}<br>
            {{entity.price}}<br>
            {{entity.total}}<br>
        {% endfor %}
    <h3>Total</h3>{{b.0.total}}
    {% endfor %}
</body>
</html>