<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'customers/img/favicon.png' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart - GharBanao Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'gbstore/css/template.css' %}">
    <link rel="stylesheet" href="{% static 'gbstore/css/cart.css' %}">
    <script  src="{% static 'gbstore/js/noalert.js' %}"></script>

</head>
<body>
<div class="row" style="height: 20px; background: #d8d8d8">

</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'gbstore:index' %}" ><img src="{% static 'customers/img/GharBanaoLogo_nav.png' %}"></a>
        </div>


        <div class="nav-btns">
            <ul class="h-list">
                <a href="{% url 'gbstore:mycart' %}"> <li class="btn"> <span class="glyphicon glyphicon-shopping-cart"></span> <span class="hide-text"> Cart  <b> {% if count %} ({{count}}) {%endif%}</b> </span></li></a>
                <a href="{% url 'designers:index' %}"><li class="btn">  <span class="glyphicon glyphicon-user"></span> <span class="hide-text"> Profile </span> </li></a>
            </ul>



        </div>
</nav>
<div class="container-fluid page" id="page">
    <center>
        <div align="left" class="win">
            <h3 class="gbcolor">Your Cart</h3>
            <hr class="hrcolor">
            {% if products %}
            {% for x in products %}

            <div class="row">
                <div class="item-img">
                    <img class="img-responsive" src="{% static 'gbstore/img/placeholder.png' %}">
                </div>
                <div class="col-xs-6 item-details">
                    <div class="col-sm-6">
                        <h4>{{x.0.brand}} {{x.0.series}} </h4>

                        {% if x.0.dimention %}
                        <h5>Size: {{x.0.dimention}}</h5>
                        {% endif %}

                        {% if x.0.Thickness %}
                        <h5>Thickness: {{x.0.Thickness}}</h5>
                        {% endif %}

                        {% if x.0.finish %}
                        <h5>Finish: {{x.0.finish}}</h5>
                        {% endif %}

                        {% if x.0.appication %}
                        <h5>Application: {{x.0.appication}}</h5>
                        {% endif %}

                        {% if x.0.quantity %}
                        <h5>Quantity: {{x.0.quantity}}</h5>
                        {% endif %}
                    </div>
                    <div class="col-sm-3">
                        <h4 class="no-margin">Qty:</h4>

                        <span class="">{{x.1}}</span>

                    </div>
                    <div class="col-sm-3">

                        <form action="{% url 'gbstore:delete_product' %}" method="post">
                            {% csrf_token %}
                            <button style="float: right; background: none; color: #123c88" type="submit" name="product" value="{{x.0.gbcode}}"><span class="glyphicon glyphicon-remove"></span> </button>
                        </form>
                        <h4 class="no-margin">Price:</h4>
                        <h3 class="price">₹{{x.0.selling_price}} × {{x.1}}</h3>
                    </div>
                </div>
            </div>
            <hr class="hrcolor">
            {% endfor %}

            <div class="row">
                <div class="item-img">
                    <h3>Total :</h3>
                </div>
                <div class="col-xs-6 item-details">
                    <div class="col-sm-9 ">

                    </div>
                    <div class="col-sm-3">

                        <h3>₹{{total}}</h3>
                    </div>
                </div>
            </div>
            <hr class="hrcolor">
            <div class="row">
                <div class="col-xs-12">
                    <form method="get"  action="{% url 'gbstore:deletecart' %}">
                        <button class="btn cntn-btn" type="submit">Clear Cart</button>
                    </form>

                    <form method="post" action="{% url 'gbstore:place_order' %}">
                        {% csrf_token %}
                        <button class="btn sbmt-btn" type="submit">Place order</button>
                    </form>
                </div>
            </div>
            {% else %}
            <br>
            <br>

            <center>
                <h3>Your cart is empty.</h3>
                Go to the homepage to start shopping
            </center>

            <br>
            <br>
            <br>
            <hr class="hrcolor">
            {% endif %}
            <br>
        </div>
    </center>

</div>
<script src="{% static 'customers/js/jquery.min.js' %}"></script>
<script src="{% static 'customers/js/bootstrap.min.js' %}"></script>
</body>
</html>