tml><!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'customers/img/favicon.png' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GharBanao Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'gbstore/css/template.css' %}">
    <link rel="stylesheet" href="{% static 'gbstore/css/results.css' %}">

</head>
<body>
<div class="row" style="height: 20px; background: #d8d8d8">

</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'gbstore:index' %}" ><img src="{% static 'customers/img/GharBanaoLogo_nav.png' %}"></a>
        </div>

        <div id="search">
            <form method="get" action="{% url 'gbstore:ref' %}">
                <select name="category">
                    <option> All </option>
                    <option> Plywood </option>
                    <option> Laminates </option>
                    <option> Adhesives </option>
                </select>
                <input style="margin-left: -4px;" type="text" name="search" placeholder="Search by product name">
                <button style="margin-left: -4px;" class="btn" type="submit"><span class="glyphicon glyphicon-search"></span> <span class="hide-text" > Search </span></button>
            </form>
        </div>
        <div class="nav-btns">
            <ul class="h-list">
                <li class="btn"> <span class="glyphicon glyphicon-shopping-cart"></span> <span class="hide-text"> Cart {{count}}</span></li>
                <li class="btn">  <span class="glyphicon glyphicon-user"></span> <span class="hide-text"> Profile </span><span style="font-size: 10px;" class="glyphicon glyphicon-chevron-down"></span> </li>
            </ul>



        </div>
        <a href="{% url 'gbstore:logout' %}">Logout</a>
</nav>

<div class="container-fluid page" id="page">

    <div class="col-sm-2 whiteback">
        <form method="get" action="{% url 'gbstore:fil' %}">
            <h4> Filters </h4>
            <button class="mybtn apply" type="submit">Apply</button>
            <hr>


            {% if brand %}
            <br>
            <b> Brands </b>
            <br>
            {% for b in brand %}
            <input type="checkbox" name="brand" value="{{b.name}}">
            {{b.name}}
            <br>
            {% endfor %}
            <hr>
            {% endif %}


            {% if dim %}
            <br>
            <b> No. of core </b>
            <br>
            {% for b in dim %}
            <input type="checkbox" name="dim" value="{{b.name}}">
            {{b.name}}
            <br>
            {% endfor %}
            <hr>
            {% endif %}


            {% if quantity %}
            <br>
            <b> Quantity </b>
            <br>
            {% for b in quantity %}
            <input type="checkbox" name="quantity" value="{{b.name}}">
            {{b.name}}
            <br>
            {% endfor %}
            <hr>
            {% endif %}


            {% if application %}
            <br>
            <b> Application </b>
            <br>
            {% for b in application %}
            <input type="checkbox" name="application" value="{{b.name}}">
            {{b.name}}
            <br>
            {% endfor %}
            <hr>
            {% endif %}

            {% if dimentions %}
            <br>
            <b> Dimension </b>
            <br>
            {% for b in dimentions %}
            <input type="checkbox" name="dimentions" value="{{b.name}}">
            {{b.name}}
            <br>
            {% endfor %}
            <hr>
            {% endif %}

            {% if thik %}
            <br>
            <b> Thickness </b>
            <br>
            {% for b in thik %}
            <input type="checkbox" name="thik" value="{{b.name}}">
            {{b.name}} mm
            <br>
            {% endfor %}
            <hr>
            {% endif %}
        </form>
    </div>

    <div class="col-sm-8 whiteback">
        <h6 class="keyword">Showing results for " <span> keyword </span> " in <span> Category </span> </h6>
        <hr>

        {% for p in product %}
        <div class="row">
            <div class="col-xs-3">
                <div>
                    <img class="img-responsive" src="{% static 'gbstore/img/placeholder.png' %}">
                </div>

            </div>
            <h3>{{p.brand}} {{p.series}} {{p.gbcode}}</h3>
            <h5>{{p.description}}</h5>
            <h5>{{p.dimention}}</h5>
            <!--<form method="get" action="{% url 'gbstore:quantity' %}">
                <button type="submit" name="productID" value="{{p.gbcode}}">Order</button>
            </form>-->
            <button> Order</button>
            <form method="get" action="{% url 'gbstore:view_product' %}">
                <button type="submit" name="productID" value="{{p.gbcode}}">View</button>
            </form>
            <br>
            <br>
            use order button to open quantity modal ypu can temper with it but do not remove the comment order
            <form method="post" action="{% url 'gbstore:quantity' %}">
                {% csrf_token %}
               Quantity:<br>
                <input type="number" name="quantity" min="1" required style="border:solid">
                <button type="submit" value="{{p.gbcode}}" name="productID">Add to cart</button>
            </form>
        </div>
        <hr>
        {% endfor %}
        <br>

    </div>

</div>
</body>
</html>