<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'customers/img/favicon.png' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GharBanao Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'gbstore/css/template.css' %}">
    <link rel="stylesheet" href="{% static 'gbstore/css/home.css' %}">

</head>
<body>
<div class="row" style="height: 20px; background: #d8d8d8">

</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'gbstore:index' %}" ><img src="{% static 'customers/img/GharBanaoLogo_nav.png' %}"></a>
        </div>


        <div class="nav-btns">
            <ul class="h-list">

                <a href="{% url 'gbstore:mycart' %}"> <li class="btn"> <span class="glyphicon glyphicon-shopping-cart"></span> <span class="hide-text"> Cart  <b> {% if count %} ({{count}}) {%endif%}</b> </span></li></a>
                <a href="{% url 'designers:index' %}"><li class="btn">  <span class="glyphicon glyphicon-user"></span> <span class="hide-text"> Profile </span> </li></a>

            </ul>

        </div>
</nav>


<div class="container-fluid page" id="page">
    <div align="center" class="row home-nav" >
        <ul class="h-list quicklinks">
            <li><a style="color: white" href="http://gharbanao.co/store/ref?category=Plywood"> Plywood </a></li>
            <li><a style="color: white" href="http://gharbanao.co/store/ref?category=Laminates"> Laminates </a></li>
            <li><a style="color: white" href="http://gharbanao.co/store/ref?category=Adhesives"> Adhesives </a></li>
            <li>Glass</li>
            <li>Wallpapers</li>
            <li>Veneers</li>
        </ul>
    </div>

    <div class="col-sm-12" style="padding: 0px">
        <img class="img-responsive" src="{% static 'gbstore/img/cb.jpg'%}">
    </div>


</div>
<script src="{% static 'customers/js/jquery.min.js' %}"></script>
<script src="{% static 'customers/js/bootstrap.min.js' %}"></script>
</body>
</html>