<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'customers/img/favicon.png' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Laminates - GharBanao Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'gbstore/css/template.css' %}">
    <link rel="stylesheet" href="{% static 'gbstore/css/plyorder.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="row" style="height: 20px; background: #d8d8d8">

</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'gbstore:index' %}" ><img src="{% static 'customers/img/GharBanaoLogo_nav.png' %}"></a>
        </div>

        <div id="search">
            <form method="get" action="{% url 'gbstore:ref' %}">
                <select name="category">
                    <option> All </option>
                    <option> Plywood </option>
                    <option> Laminates </option>
                    <option> Adhesives </option>
                </select>
                <input style="margin-left: -4px;" type="text" name="search" placeholder="Search by product name">
                <button style="margin-left: -4px;" class="btn" type="submit"><span class="glyphicon glyphicon-search"></span> <span class="hide-text" > Search </span></button>
            </form>
        </div>
        <div class="nav-btns">
            <ul class="h-list">
                <li class="btn"> <span class="glyphicon glyphicon-shopping-cart"></span> <span class="hide-text"> Cart </span></li>
                <li class="btn">  <span class="glyphicon glyphicon-user"></span> <span class="hide-text"> Profile </span><span style="font-size: 10px;" class="glyphicon glyphicon-chevron-down"></span> </li>
            </ul>
        </div>
</nav>
<div class="container-fluid page" id="page">

    <div class="row searchwin">
        <h4 align="center"  style="color: #90aad8">Search and place order for laminates by brand and product code e.g. Europratik Decoris 3210</h4>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <span style="color: #eee" class="glyphicon glyphicon-tag"></span>
                <input class="searchf" type="text" placeholder="Enter brand">

            </div>
            <div class="col-sm-3">
                <span style="color: #eee" class="glyphicon glyphicon-arrow-right"></span>
                <input class="searchf" type="text" placeholder="Enter Item No">

            </div>
            <div class="col-sm-2">
                <span style="color: #eee" class="glyphicon glyphicon-pencil"></span>
                <input class="searchf" type="number" value="0" min="0" placeholder="Quantity">
            </div>
            <div class="col-sm-1">
                <div class="addbtn" data-toggle="collapse" data-target="#morelam" ><span style="color: #eee" class="glyphicon glyphicon-plus-sign"></span><a class="addlam">Add more</a></div>
            </div>
            <div class="col-sm-1">
                <button style="background: #eee; color: #123c88" class="btn"> Submit </button>

            </div>
            <div class="col-sm-1"></div>
        </div>
        <br>



        <div id="morelam" class="collapse">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <span style="color: #eee" class="glyphicon glyphicon-tag"></span>
                    <input class="searchf" type="text" placeholder="Enter brand">

                </div>
                <div class="col-sm-3">
                    <span style="color: #eee" class="glyphicon glyphicon-arrow-right"></span>
                    <input class="searchf" type="text" placeholder="Enter Item No">

                </div>
                <div class="col-sm-2">
                    <span style="color: #eee" class="glyphicon glyphicon-pencil"></span>
                    <input class="searchf" type="number" value="0" min="0" placeholder="Quantity">
                </div>
                <div class="col-sm-3"></div>
            </div>

            <br>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <span style="color: #eee" class="glyphicon glyphicon-tag"></span>
                    <input class="searchf" type="text" placeholder="Enter brand">

                </div>
                <div class="col-sm-3">
                    <span style="color: #eee" class="glyphicon glyphicon-arrow-right"></span>
                    <input class="searchf" type="text" placeholder="Enter Item No">

                </div>
                <div class="col-sm-2">
                    <span style="color: #eee" class="glyphicon glyphicon-pencil"></span>
                    <input class="searchf" type="number" value="0" min="0" placeholder="Quantity">
                </div>
                <div class="col-sm-3"></div>
            </div>


            <br>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <span style="color: #eee" class="glyphicon glyphicon-tag"></span>
                    <input class="searchf" type="text" placeholder="Enter brand">

                </div>
                <div class="col-sm-3">
                    <span style="color: #eee" class="glyphicon glyphicon-arrow-right"></span>
                    <input class="searchf" type="text" placeholder="Enter Item No">

                </div>
                <div class="col-sm-2">
                    <span style="color: #eee" class="glyphicon glyphicon-pencil"></span>
                    <input class="searchf" type="number" value="0" min="0" placeholder="Quantity">
                </div>
                <div class="col-sm-3"></div>
            </div>

            <br>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <span style="color: #eee" class="glyphicon glyphicon-tag"></span>
                    <input class="searchf" type="text" placeholder="Enter brand">

                </div>
                <div class="col-sm-3">
                    <span style="color: #eee" class="glyphicon glyphicon-arrow-right"></span>
                    <input class="searchf" type="text" placeholder="Enter Item No">

                </div>
                <div class="col-sm-2">
                    <span style="color: #eee" class="glyphicon glyphicon-pencil"></span>
                    <input class="searchf" type="number" value="0" min="0" placeholder="Quantity">
                </div>
                <div class="col-sm-3"></div>
            </div>
            <br>
        </div>



    </div>


</div>
</body>
</html>
