<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - GharBanao Store </title>
    <link rel="stylesheet" href="{% static 'customers/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'customers/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'designers/css/designerinfo.css' %}">
    <link rel="stylesheet" href="{% static 'customers/css/template.css' %}">

</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'gbstore:index' %}" ><img src="{% static 'customers/img/GharBanaoLogo_nav.png' %}"></a>
        </div>

</nav>


<div class="container page" id="page">
    <center>
        <div align="left" class="row no-margin container-fluid main">
            <form name = "form" action = "{% url 'gbstore:login' %}" method = "POST" style="background-color:rgba(255,255,255,0.7);border-radius:20px"  id="opening" >{% csrf_token %}

                <div class="row" style="background: #123c88; border-radius: 6px 6px 0px 0px"><h2 class="col-xs-12" style="color: white"> Designer Login</h2></div>

                <div class="row no-margin"><h5> Designer ID:</h5> </div>

                <input class="text-input" type = "text" placeholder = "DesignerID" name = "designerID">

                <div class="row no-margin"><h5> Password:</h5></div>

                <input class="text-input" type="password" placeholder="Password" name="password" >

                <p>{{errors}}</p>

                <button type="submit" value="Login">
                    LOGIN
                </button>
                <a href="{% url 'designers:fp' %}">Forgot Password</a>
                <br>

                <center style="margin-top: 10px">
                    Not signed up with GharBanao yet?
                    <br>
                    <a href="{% url 'designers:register' %}" id="register"> Click here </a> to sign up.
                </center>

            </form>
        </div>
    </center>
</div>


</body>
</html>