<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My cart</title>
</head>
<body>
{% for x in products %}
    {{x.0.series}}
    {{x.0.selling_price}}
    {{x.1}}
    <form action="{% url 'gbstore:delete_product' %}" method="post">
        {% csrf_token %}
        <button type="submit" name="product" value="{{x.gbcode}}">Delete</button>
    </form>
<br>
{% endfor %}
<h1>
    Total : {{total}}
</h1>
</body>
<form method="get"  action="{% url 'gbstore:deletecart' %}">
    <button type="submit">Clear Cart</button>
</form>
<form method="post" action="{% url 'gbstore:place_order' %}">
    {% csrf_token %}
    <button type="submit">Place order</button>
</form>
</html>