<!DOCTYPE html>

<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>My cart</title>
    <script  src="{% static 'gbstore/js/noalert.js' %}"></script>
</head>
<body>
{% if products %}

{% for x in products %}

    {{x.0.series}}
    {{x.0.selling_price}}
    quantity:{{x.1}}
    <form action="{% url 'gbstore:delete_product' %}" method="post">
        {% csrf_token %}
        <button type="submit" name="product" value="{{x.0.gbcode}}">Delete</button>
    </form>
<br>
{% endfor %}
<h1>
    Total : {{total}}
</h1>
</body>
<form method="get"  action="{% url 'gbstore:deletecart' %}">
    <button type="submit">Clear Cart</button>
</form>
<form method="post" action="{% url 'gbstore:place_order' %}">
    {% csrf_token %}
    <button type="submit">Place order</button>
</form>
{% else %}
    <h1>No items in cart</h1>
{% endif %}
</body>
</html>