<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'customers/img/favicon.png' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Plywood - GharBanao Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'gbstore/css/template.css' %}">
    <link rel="stylesheet" href="{% static 'gbstore/css/plyorder.css' %}">

</head>
<body>
<div class="row" style="height: 20px; background: #d8d8d8">

</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'gbstore:index' %}" ><img src="{% static 'customers/img/GharBanaoLogo_nav.png' %}"></a>
        </div>

        <div id="search">
            <form method="get" action="{% url 'gbstore:ref' %}">
                <select name="category">
                    <option> All </option>
                    <option> Plywood </option>
                    <option> Laminates </option>
                    <option> Adhesives </option>
                </select>
                <input style="margin-left: -4px;" type="text" name="search" placeholder="Search by product name">
                <button style="margin-left: -4px;" class="btn" type="submit"><span class="glyphicon glyphicon-search"></span> <span class="hide-text" > Search </span></button>
            </form>
        </div>
        <div class="nav-btns">
            <ul class="h-list">
                <li class="btn"> <span class="glyphicon glyphicon-shopping-cart"></span> <span class="hide-text"> Cart </span></li>
                <li class="btn">  <span class="glyphicon glyphicon-user"></span> <span class="hide-text"> Profile </span><span style="font-size: 10px;" class="glyphicon glyphicon-chevron-down"></span> </li>
            </ul>
        </div>
</nav>
<div class="container-fluid page" id="page">

    <div class="row searchwin">
        <h4 align="center"  style="color: #5879b5"> Searching for "Search keyword" in plywoods. </h4>
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <span style="color: #eee" class="glyphicon glyphicon-tag"> </span>
            <span style="color: #eee; font-size: 18px"> Brand :
                {% for b in brand %}
                {{b.name}} ,
                {% endfor %}
            </span>

        </div>
        <div class="col-sm-3">
            <span style="color: #eee" class="glyphicon glyphicon-arrow-right"> </span>
            <span style="color: #eee; font-size: 18px"> Series :
                {% for b in brand %}
                {{b.name}} ,
                {% endfor %}
            </span>
        </div>
        <div class="col-sm-3"></div>
    </div>



    <div class="row nomargin">

        <div class="col-sm-2 whiteback">
            <form method="get" action="{% url 'gbstore:fil' %}">
                <h4> Filters </h4>
                <button class="mybtn apply" type="submit">Apply</button>
                <hr>


                {% if brand %}
                <br>
                <b> Brands </b>
                <br>
                {% for b in brand %}
                <input type="checkbox" name="brand" value="{{b.name}}">
                {{b.name}}
                <br>
                {% endfor %}
                <hr>
                {% endif %}


                {% if dim %}
                <br>
                <b> No. of core </b>
                <br>
                {% for b in dim %}
                <input type="checkbox" name="dim" value="{{b.name}}">
                {{b.name}}
                <br>
                {% endfor %}
                <hr>
                {% endif %}


                {% if quantity %}
                <br>
                <b> Quantity </b>
                <br>
                {% for b in quantity %}
                <input type="checkbox" name="quantity" value="{{b.name}}">
                {{b.name}}
                <br>
                {% endfor %}
                <hr>
                {% endif %}



                {% if thik %}
                <br>
                <b> Thickness </b>
                <br>
                {% for b in thik %}
                <input type="checkbox" name="thik" value="{{b.name}}">
                {{b.name}} mm
                <br>
                {% endfor %}
                <hr>
                {% endif %}
            </form>
        </div>

        <div class="col-sm-8 whiteback">
            <div class="row">


                <div class="col-sm-4 product">
                    <div>
                        <h3> <b>Austin Premium </b></h3>
                        <h5> <b>Thickness: 4mm   </b></h5>
                        <h5> <b>Dimension:  8 x 6  </b></h5>
                        <div>
                            <form method="get" action="">
                                <input type="number" placeholder="0" min="0" class="qty" name="">
                                <button class="mybtn add" type="submit"> Add </button>
                            </form>
                        </div>
                        <br>
                    </div>
                </div>

                <div class="col-sm-4 product">
                    <div>
                        <h3> <b>Austin Premium </b></h3>
                        <h5> <b>Thickness: 4mm   </b></h5>
                        <h5> <b>Dimension:  8 x 6  </b></h5>
                        <div>
                            <form method="get" action="">
                                <input type="number" placeholder="0" min="0" class="qty" name="">
                                <button class="mybtn add" type="submit"> Add </button>
                            </form>
                        </div>
                        <br>
                    </div>
                </div>

                <div class="col-sm-4 product">
                    <div>
                        <h3> <b>Austin Premium </b></h3>
                        <h5> <b>Thickness: 4mm   </b></h5>
                        <h5> <b>Dimension:  8 x 6  </b></h5>
                        <div>
                            <form method="get" action="">
                                <input type="number" placeholder="0" min="0" class="qty" name="">
                                <button class="mybtn add" type="submit"> Add </button>
                            </form>
                        </div>
                        <br>
                    </div>
                </div>

                <div class="col-sm-4 product">
                    <div>
                        <h3> <b>Austin Premium </b></h3>
                        <h5> <b>Thickness: 4mm   </b></h5>
                        <h5> <b>Dimension:  8 x 6  </b></h5>
                        <div>
                            <form method="get" action="">
                                <input type="number" placeholder="0" min="0" class="qty" name="">
                                <button class="mybtn add" type="submit"> Add </button>
                            </form>
                        </div>
                        <br>
                    </div>
                </div>

                <div class="col-sm-4 product">
                    <div>
                        <h3> <b>Austin Premium </b></h3>
                        <h5> <b>Thickness: 4mm   </b></h5>
                        <h5> <b>Dimension:  8 x 6  </b></h5>
                        <div>
                            <form method="get" action="">
                                <input type="number" placeholder="0" min="0" class="qty" name="">
                                <button class="mybtn add" type="submit"> Add </button>
                            </form>
                        </div>
                        <br>
                    </div>
                </div>

                <div class="col-sm-4 product">
                    <div>
                        <h3> <b>Austin Premium </b></h3>
                        <h5> <b>Thickness: 4mm   </b></h5>
                        <h5> <b>Dimension:  8 x 6  </b></h5>
                        <div>
                            <form method="get" action="">
                                <input type="number" placeholder="0" min="0" class="qty" name="">
                                <button class="mybtn add" type="submit"> Add </button>
                            </form>
                        </div>
                        <br>
                    </div>
                </div>

                <div class="col-sm-4 product">
                    <div>
                        <h3> <b>Austin Premium </b></h3>
                        <h5> <b>Thickness: 4mm   </b></h5>
                        <h5> <b>Dimension:  8 x 6  </b></h5>
                        <div>
                            <form method="get" action="">
                                <input type="number" placeholder="0" min="0" class="qty" name="">
                                <button class="mybtn add" type="submit"> Add </button>
                            </form>
                        </div>
                        <br>
                    </div>
                </div>

                <div class="col-sm-4 product">
                    <div>
                        <h3> <b>Austin Premium </b></h3>
                        <h5> <b>Thickness: 4mm   </b></h5>
                        <h5> <b>Dimension:  8 x 6  </b></h5>
                        <div>
                            <form method="get" action="">
                                <input type="number" placeholder="0" min="0" class="qty" name="">
                                <button class="mybtn add" type="submit"> Add </button>
                            </form>
                        </div>
                        <br>
                    </div>
                </div>

                <div class="col-sm-4 product">
                    <div>
                        <h3> <b>Austin Premium </b></h3>
                        <h5> <b>Thickness: 4mm   </b></h5>
                        <h5> <b>Dimension:  8 x 6  </b></h5>
                        <div>
                            <form method="get" action="">
                                <input type="number" placeholder="0" min="0" class="qty" name="">
                                <button class="mybtn add" type="submit"> Add </button>
                            </form>
                        </div>
                        <br>
                    </div>
                </div>

                <div class="col-sm-4 product">
                    <div>
                        <h3> <b>Austin Premium </b></h3>
                        <h5> <b>Thickness: 4mm   </b></h5>
                        <h5> <b>Dimension:  8 x 6  </b></h5>
                        <div>
                            <form method="get" action="">
                                <input type="number" placeholder="0" min="0" class="qty" name="">
                                <button class="mybtn add" type="submit"> Add </button>
                            </form>
                        </div>
                        <br>
                    </div>
                </div>

                <div class="col-sm-4 product">
                    <div>
                        <h3> <b>Austin Premium </b></h3>
                        <h5> <b>Thickness: 4mm   </b></h5>
                        <h5> <b>Dimension:  8 x 6  </b></h5>
                        <div>
                            <form method="get" action="">
                                <input type="number" placeholder="0" min="0" class="qty" name="">
                                <button class="mybtn add" type="submit"> Add </button>
                            </form>
                        </div>
                        <br>
                    </div>
                </div>

                <div class="col-sm-4 product">
                    <div>
                        <h3> <b>Austin Premium </b></h3>
                        <h5> <b>Thickness: 4mm   </b></h5>
                        <h5> <b>Dimension:  8 x 6  </b></h5>
                        <div>
                            <form method="get" action="">
                                <input type="number" placeholder="0" min="0" class="qty" name="">
                                <button class="mybtn add" type="submit"> Add </button>
                            </form>
                        </div>
                        <br>
                    </div>
                </div>



            </div>
        </div>
    </div>


</div>
</body>
</html>
