<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form action="{% url 'ProductSearch' %}" method="post">
        {% csrf_token %}
        <input type="text" name="search">
        <button type="submit">Search</button>
    </form>
</div>
New
   {% for x in new %}
   {{x.company}}
{% endfor %}
<br>
Old
<br>
{% for y in products %}
{{y.company}}
{% endfor %}
</body>
</html>