<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product_add</title>
</head>
<body>
{{errors}}
<form action = "{% url 'Product' %}"
         method = "POST"
      style="background-color:rgba(255,255,255,0.7);width:48.48%;border-radius:20px"  id="opening"  enctype="multipart/form-data">{% csrf_token %}
    Company Code:<br>
    <input type="text" name="comp_code" ><br>
    Name:<br>
    <textarea name="name" ></textarea><br>
    Company<br>
    <input type="text" name="company" ><br>
    Address<br>
    <textarea name="address" ></textarea><br>
    Description:<br>
    <textarea name="description" ></textarea><br>
    Colour:<br>
    <textarea name="colour" ></textarea><br>
    Length:<br>
    <input type="number" name="length" ><br>
    Height:<br>
    <input type="number" name="height" ><br>
    Breadth:<br>
    <input type="number" name="breadth" ><br>
    Radius:<br>
    <input type="number" name="radius" ><br>
    Image 1:<br>
    <input type="file" name="image1" ><br>
    Image 2:<br>
    <input type="file" name="image2" ><br>
    Original_price:<br>
    <input type="text" name="original_price" ><br>
    Cost Price:<br>
    <input type="text" name="cost_price" ><br>
    Selling Price:<br>
    <input type="text" name="selling_price" ><br>
    Star:<br>
    <input type="checkbox" name="star">
    <button type="reset">Reset</button>
    <button type="submit">Submit</button>
</form>
</body>
</html>