<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search merchants</title>
</head>
<body>
    <form method="get" action="{% url 'producttovendor' %}">
        <input type="text" name="searchfield" >
        <button type="submit" >Search</button>
    </form>
<div>
    {% for x in m %}
     {{x}}
    <br>
    {% endfor %}
</div>
</body>
</html>