<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ghar Banao</title>
</head>
<body>
<form method="post" action="{% url 'gbstore:quantity' %}">
    {% csrf_token %}
   Quantity:<br>
    <input type="number" name="quantity" min="0">
    <button type="submit" value="{{p.gbcode}}" name="productID">Add to cart</button>
</form>


</body>
</html>