<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'customers/img/favicon.png' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> GharBanao Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'gbstore/css/template.css' %}">
    <link rel="stylesheet" href="{% static 'gbstore/css/plyorder.css' %}">
    <script src="{% static 'customers/js/jquery.min.js' %}"></script>
    <script src="{% static 'customers/js/bootstrap.min.js' %}"></script>

</head>
<body>
<div class="row" style="height: 20px; background: #d8d8d8">

</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'gbstore:index' %}" ><img src="{% static 'customers/img/GharBanaoLogo_nav.png' %}"></a>
        </div>

        <div id="search">
            <form method="get" action="{% url 'gbstore:ref' %}">
                <select name="category">
                    <option value="{{selected}}"> {{selected}} </option>
                    {% ifnotequal selected "Plywood" %}
                    <option> Plywood </option>
                    {% endifnotequal %}
                    {% ifnotequal selected "Laminates" %}
                    <option> Laminates </option>
                    {% endifnotequal %}
                    {% ifnotequal selected "Adhesives" %}
                    <option> Adhesives </option>
                    {% endifnotequal %}

                </select>
                <input style="margin-left: -4px;" type="text" name="search" placeholder="Search by product series">
                <button style="margin-left: -4px;" class="btn" type="submit"><span class="glyphicon glyphicon-search"></span> <span class="hide-text" > Search </span></button>
            </form>
        </div>

        <div class="nav-btns">
            <ul class="h-list">
                <a href="{% url 'gbstore:mycart' %}"> <li class="btn"> <span class="glyphicon glyphicon-shopping-cart"></span> <span class="hide-text"> Cart  <b> {% if count %} ({{count}}) {% endif %}</b> </span></li></a>
                <a href="{% url 'designers:index' %}"><li class="btn">  <span class="glyphicon glyphicon-user"></span> <span class="hide-text"> Profile </span> </li></a>
            </ul>
        </div>
</nav>


<div class="container-fluid page" id="page">
    <div class="row searchwin">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h4 align="center"  style="color: #eee;">

                <!--<b>Filter by brand:</b>&nbsp&nbsp&nbsp{% if brand %}{% for b in brand %}&nbsp&nbsp&nbsp<a href="http://localhost:8000/store/filter?brand={{b.name}}" style="color: #eee;">{{b.name}}</a>&nbsp&nbsp&nbsp{% endfor %}{% endif %}-->
                &nbsp&nbsp<a href="http://gharbanao.co/store/ref?category=Plywood" style="color: #eee;">Plywood</a>&nbsp&nbsp
                &nbsp&nbsp<a href="http://gharbanao.co/store/ref?category=Laminates" style="color: #eee;">Laminates</a>&nbsp&nbsp
                &nbsp&nbsp<a href="http://gharbanao.co/store/ref?category=Adhesives" style="color: #eee;">Adhesive</a>&nbsp&nbsp
                &nbsp&nbsp<a href="#" style="color: #eee;">Glass</a>&nbsp&nbsp
                &nbsp&nbsp<a href="#" style="color: #eee;">Wallpapers</a>&nbsp&nbsp
                &nbsp&nbsp<a href="#" style="color: #eee;">Veneers</a>&nbsp&nbsp

            </h4>

        </div>

        <div class="col-sm-3"></div>

    </div>



    <div class="row nomargin">

        <div class="col-sm-2 whiteback">
            <form method="get" action="{% url 'gbstore:fil' %}">
                <h4> Filters </h4>
                <button class="mybtn apply" type="submit">Apply</button>
                <hr>


                {% if brand %}
                <br>
                <b> Brands </b>
                <br>
                {% for b in brand %}
                <input type="checkbox" name="brand" value="{{b.name}}">
                {{b.name}}
                <br>
                {% endfor %}
                <hr>
                {% endif %}


                {% if dim %}
                <br>
                <b> Series </b>
                <br>
                {% for b in dim %}
                <input type="checkbox" name="dim" value="{{b.name}}">
                {{b.name}}
                <br>
                {% endfor %}
                <hr>
                {% endif %}

                {% if dimentions %}
                <br>
                <b> Dimensions </b>
                <br>
                {% for b in dimentions %}
                <input type="checkbox" name="dimentions" value="{{b.name}}">
                {{b.name}}
                <br>
                {% endfor %}
                <hr>
                {% endif %}


                {% if quantity %}
                <br>
                <b> Quantity </b>
                <br>
                {% for b in quantity %}
                <input type="checkbox" name="quantity" value="{{b.name}}">
                {{b.name}}
                <br>
                {% endfor %}
                <hr>
                {% endif %}


                {% if application %}
                <br>
                <b> Application </b>
                <br>
                {% for b in application %}
                <input type="checkbox" name="application" value="{{b.name}}">
                {{b.name}}
                <br>
                {% endfor %}
                <hr>
                {% endif %}



                {% if thik %}
                <br>
                <b> Thickness </b>
                <br>
                {% for b in thik %}
                <input type="checkbox" name="thik" value="{{b.name}}">
                {{b.name}} mm
                <br>
                {% endfor %}
                <hr>
                {% endif %}

            </form>
        </div>

        <div class="col-sm-8 whiteback">
            <div class="row">
                {% for p in product %}

                <div class="col-sm-4 product">
                    <div>
                        <h4> <b> {{p.brand}} {{p.series}} </b> </h4>
                        <h5> <b>Thickness:  {{p.Thickness}} mm </b> </h5>
                        <h5> <b>Dimension:  {{p.dimention}}  </b> </h5>
                        <div align="right">
                            <h3><b>₹{{p.selling_price}}</b> </h3>
                            <form method="post" action="{% url 'gbstore:quantity' %}">
                                {% csrf_token %}

                                <input type="number" name="quantity" placeholder="0" min="1" class="qty" required style="border:solid">
                                <button  class="mybtn add" type="submit" value="{{p.gbcode}}" name="productID">Add to cart</button>
                            </form>

                        </div>
                        <br>
                    </div>
                </div>

                {% endfor %}




            </div>
        </div>
        <div class="col-sm-2" style="background: #90a7d2;">
            <!--
            <h4><b>Brands</b></h4>
            <ul class="nav-list">

                <li data-toggle="collapse" data-target="#subbrand1"><b>Austin</b></li><hr class="list-hr">
                    <ul class="collapse subbrand" id="subbrand1">
                        <li> Gold</li>
                        <li> Premium</li>
                        <li> Lincoln</li>
                        <li> Club</li>
                    </ul>

                <li data-toggle="collapse" data-target="#subbrand2"><b>CenturyPly</b></li><hr class="list-hr">
                    <ul class="collapse subbrand" id="subbrand2">
                        <li> Club Prime</li>
                        <li> Marine</li>
                        <li> Architech Ply</li>
                        <li> Sainik</li>
                    </ul>

                <li data-toggle="collapse" data-target="#subbrand3"><b>Ferro</b></li><hr class="list-hr">
                    <ul class="collapse subbrand" id="subbrand3">
                        <li> Commercial</li>
                        <li> BWR</li>

                    </ul>

                <li data-toggle="collapse" data-target="#subbrand4"><b>GreenPly</b></li><hr class="list-hr">
                    <ul class="collapse subbrand" id="subbrand4">
                        <li> MR </li>
                        <li> Marine</li>
                        <li> Gold</li>
                        <li> Gold Prima</li>
                        <li> Club</li>
                        <li> Club Plus</li>
                    </ul>

                <li data-toggle="collapse" data-target="#subbrand5"><b>WoodPly</b></li><hr class="list-hr">
                    <ul class="collapse subbrand" id="subbrand5">
                        <li> MR</li>
                        <li> BWR</li>
                        <li> Marine</li>
                        <li> FiRe</li>
                    </ul>

            </ul>-->
        </div>
    </div>


</div>
</body>
</html>
