<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'customers/img/favicon.png' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Plywood - GharBanao Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'gbstore/css/template.css' %}">
    <link rel="stylesheet" href="{% static 'gbstore/css/plyorder.css' %}">
    <script src="{% static 'customers/js/jquery.min.js' %}"></script>
    <script src="{% static 'customers/js/bootstrap.min.js' %}"></script>

</head>
<body>
<div class="row" style="height: 20px; background: #d8d8d8">

</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'gbstore:index' %}" ><img src="{% static 'customers/img/GharBanaoLogo_nav.png' %}"></a>
        </div>


        <div class="nav-btns">
            <ul class="h-list">
                <li class="btn"> <span class="glyphicon glyphicon-shopping-cart"></span> <span class="hide-text"> Cart </span></li>
                <li class="btn">  <span class="glyphicon glyphicon-user"></span> <span class="hide-text"> Profile </span><span style="font-size: 10px;" class="glyphicon glyphicon-chevron-down"></span> </li>
            </ul>
        </div>
</nav>
<div class="container-fluid page" id="page">

    <div class="row searchwin">
        <h4 align="center"  style="color: #5879b5"> Searching for "Search keyword" in plywoods. </h4>
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <span style="color: #eee" class="glyphicon glyphicon-tag"> </span>
            <span style="color: #eee; font-size: 18px"> Brand :
                {% for b in brand %}
                {{b.name}} ,
                {% endfor %}
            </span>

        </div>
        <div class="col-sm-3">
            <span style="color: #eee" class="glyphicon glyphicon-arrow-right"> </span>
            <span style="color: #eee; font-size: 18px"> Series :

            </span>
        </div>
        <div class="col-sm-3"></div>
    </div>



    <div class="row nomargin">

        <div class="col-sm-2 whiteback">
            <form method="get" action="{% url 'gbstore:fil' %}">
                <h4> Filters </h4>
                <button class="mybtn apply" type="submit">Apply</button>
                <hr>


                {% if brand %}
                <br>
                <b> Brands </b>
                <br>
                {% for b in brand %}
                <input type="checkbox" name="brand" value="{{b.name}}">
                {{b.name}}
                <br>
                {% endfor %}
                <hr>
                {% endif %}


                {% if dim %}
                <br>
                <b> No. of core </b>
                <br>
                {% for b in dim %}
                <input type="checkbox" name="dim" value="{{b.name}}">
                {{b.name}}
                <br>
                {% endfor %}
                <hr>
                {% endif %}


                {% if quantity %}
                <br>
                <b> Quantity </b>
                <br>
                {% for b in quantity %}
                <input type="checkbox" name="quantity" value="{{b.name}}">
                {{b.name}}
                <br>
                {% endfor %}
                <hr>
                {% endif %}


                {% if application %}
                <br>
                <b> Application </b>
                <br>
                {% for b in application %}
                <input type="checkbox" name="application" value="{{b.name}}">
                {{b.name}}
                <br>
                {% endfor %}
                <hr>
                {% endif %}

                {% if dimentions %}
                <br>
                <b> Dimension </b>
                <br>
                {% for b in dimentions %}
                <input type="checkbox" name="dimentions" value="{{b.name}}">
                {{b.name}}
                <br>
                {% endfor %}
                <hr>
                {% endif %}

                {% if thik %}
                <br>
                <b> Thickness </b>
                <br>
                {% for b in thik %}
                <input type="checkbox" name="thik" value="{{b.name}}">
                {{b.name}} mm
                <br>
                {% endfor %}
                <hr>
                {% endif %}
            </form>
        </div>

        <div class="col-sm-8 whiteback">
            <div class="row">
                {% for p in product %}

                <div class="col-sm-4 product">
                    <div>
                        <h4> <b> {{p.brand}} {{p.series}} </b></h4>
                        <h5> <b>Thickness:{{p.Thickness}}  </b></h5>
                        <h5> <b>Dimension:  {{p.dimention}}  </b></h5>
                        <div align="right">
                            <h3><b>₹{{p.selling_price}}</b> </h3>
                            <form method="post" action="{% url 'gbstore:quantity' %}">
                                {% csrf_token %}

                                <input type="number" name="quantity" placeholder="0" min="1" class="qty" required style="border:solid">
                                <button  class="mybtn add" type="submit" value="{{p.gbcode}}" name="productID">Add to cart</button>
                            </form>

                        </div>
                        <br>
                    </div>
                </div>

                {% endfor %}




            </div>
        </div>
        <div class="col-sm-2" style="background: #90a7d2;">
            <h4><b>Brands</b></h4>
            <ul class="nav-list">

                <li data-toggle="collapse" data-target="#subbrand1"><b>Euro Pratik</b></li><hr class="list-hr">
                    <ul class="collapse subbrand" id="subbrand1">
                        <li> 3D Wallart</li>
                        <li> Acrylam</li>
                        <li> Acrylite</li>
                        <li> Asian Walnut</li>
                        <li> Coriano</li>
                        <li> Decoart</li>
                        <li> Decolite</li>
                        <li> DecoPanel</li>
                        <li> Decoris</li>
                        <li> Egger</li>
                        <li> Emporio</li>
                        <li> Fashion Wall</li>
                        <li> Flos</li>
                        <li> Fores Color</li>
                        <li> Granorte</li>
                        <li> Lucento</li>
                        <li> Luco</li>
                        <li> Matrix Wall</li>
                        <li> Micano</li>
                        <li> Mini</li>
                        <li> NE Board</li>
                        <li> Specter</li>
                        <li> Stylite</li>
                        <li> Verino</li>
                        <li> Vigo</li>
                        <li> Zennosis</li>
                        <li> Wood Cellar</li>
                        <li> Rubber Wood</li>


                    </ul>

                <li data-toggle="collapse" data-target="#subbrand2"><b>CenturyLaminates</b></li><hr class="list-hr">
                    <ul class="collapse subbrand" id="subbrand2">
                        <li> Look Book</li>
                        <li> Star Line</li>
                        <li> Mono Core</li>
                        <li> Speciality Laminates</li>
                    </ul>

                <li data-toggle="collapse" data-target="#subbrand3"><b>Timex</b></li><hr class="list-hr">
                    <ul class="collapse subbrand" id="subbrand3">
                        <li> MICA</li>
                        <li> Bombay High</li>

                    </ul>

                <li data-toggle="collapse" data-target="#subbrand4"><b>Heritage</b></li><hr class="list-hr">
                    <ul class="collapse subbrand" id="subbrand4">
                        <li> Arborite</li>
                    </ul>

                <li data-toggle="collapse" data-target="#subbrand5"><b>Pinex</b></li><hr class="list-hr">
                    <ul class="collapse subbrand" id="subbrand5">
                        <li> MR</li>
                        <li> BWR</li>
                        <li> Marine</li>
                        <li> FiRe</li>
                    </ul>

            </ul>
        </div>
    </div>


</div>
</body>
</html>
