<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'customers/img/favicon.png' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Plywood - GharBanao Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'gbstore/css/template.css' %}">
    <script src="{% static 'customers/js/jquery.min.js' %}"></script>
    <script src="{% static 'customers/js/bootstrap.min.js' %}"></script>

</head>
<body>
<div class="row" style="height: 20px; background: #d8d8d8">

</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'gbstore:index' %}" ><img src="{% static 'customers/img/GharBanaoLogo_nav.png' %}"></a>
        </div>


        <div class="nav-btns">
            <ul class="h-list">
                <a href="{% url 'gbstore:mycart' %}"> <li class="btn"> <span class="glyphicon glyphicon-shopping-cart"></span> <span class="hide-text"> Cart  <b> {% if count %} ({{count}}) {%endif%}</b> </span></li></a>
                <li class="btn"> <span class="glyphicon glyphicon-user"></span> <span class="hide-text"> Profile </span><span style="font-size: 10px;" class="glyphicon glyphicon-chevron-down"></span> </li>
            </ul>
        </div>
</nav>
<div class="container-fluid page" id="page">
    <center>
        <h4>Enter shipping details</h4>
        <form method="get" action="">
            <input type="text" name="" placeholder="Full name" style="width: 240px; padding: 5px 15px"><br><br>
            <textarea type="text" name="" placeholder="Address" style="width: 240px; height: 100px; padding: 5px 15px; resize: none"></textarea><br><br>
            <input type="text" name="" placeholder="Phone no." style="width: 240px; padding: 5px 15px"><br><br>
            <button class="btn btn-info" type="submit">Submit</button>

        </form>
    </center>
</div>


</body>