<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{p.gbcode}}</title>
</head>
<body>
     <div>
            <h3>{{p.brand}} {{p.series}} {{p.gbcode}}</h3>
            <h5>{{p.description}}</h5>
            <h5>{{p.dimention}}</h5>
            <form method="get" action="{% url 'gbstore:quantity' %}">
                <button type="submit" name="productID" value="{{p.gbcode}}">Order</button>
            </form>
        </div>
</body>
</body>
</html>